<%- 
	f.object.build_region unless f.object.region 
	available_regions = []
	available_regions = Region.where(company_id: f.object[:company_id]).select([:name, :id])  unless f.object[:company_id].nil? 
-%>



<!-- Hidden Fields -->
<div style="display:none">
	<%= f.hidden_field :company_id unless f.object[:company_id].nil? -%>
	<%= f.hidden_field :street_address, class: 'address-entries' -%>
	<%= f.hidden_field :county, class: 'address-entries' -%>
	<%= f.hidden_field :city, class: 'address-entries' -%>
	<%= f.hidden_field :zip, class: 'address-entries' %>
	<%= f.hidden_field :state_code, class: 'address-entries' -%>
	<%= f.hidden_field :country -%>
</div>	



<!-- Begin Content -->
<div id="storeEntry">
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label"><%= f.label :company_id, class: (f.object.errors.any? && !f.object.errors[:company_id].blank? ? "text-danger": "") -%></div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<%= f.select :company_id, options_from_collection_for_select(Company.list_for_dropdown, :id, :name, f.object[:company_id]), {prompt: "-- Select --"}, {onchange: "store.getRegionsByCompany(this.value, $('select[id$=region_id]'))", class: "form-control"}%>
			<%= "<p class='text-danger'>#{f.object.errors.full_messages_for(:company_id).first}</p>".html_safe if f.object.errors.any? && !f.object.errors[:company_id].blank? -%>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label">
			<%= f.label :region_id, "Region", class: (f.object.errors.any? && !f.object.errors[:region_attributes].blank? ? "text-danger": "") -%>
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<%= f.select :region_id, options_from_collection_for_select(  available_regions, "id", "name", f.object[:region_id].to_s), {include_blank: '-- Select --'}, {disabled: !available_regions.any?, class: 'form-control'} -%>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label">
			<%= f.label :name, "Name of Store", class: (f.object.errors.any? && !f.object.errors[:name].blank? ? "text-danger": "") -%>
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<%= f.text_field :name, class: 'form-control', placeholder: 'Name of store' -%>
			<%= "<p class='text-danger'>#{f.object.errors.full_messages_for(:name).first}</p>".html_safe if f.object.errors.any? && !f.object.errors[:name].blank? -%>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label">
			<%= f.label :store_number, "Store#" -%>
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<%= f.text_field :store_number, class: 'form-control', placeholder: 'Store number' -%>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label">
			<label for="addressSearch">Address</label>
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input type="text" id="addressSearch" size="100" value="<%= f.object.address unless f.object[:street_address].nil? -%>" onblur="" class="form-control"/>
			<%= "<p class='text-danger'>There was a problem with this address.</p>".html_safe if f.object.errors.any? && !(f.object.errors[:street_address].blank? && f.object.errors[:city].blank? && f.object.errors[:zip].blank?)%>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label"><%= f.label :locality, "Locality" -%></div>
		<div class="col-md-5 col-sm-12 col-xs-12"><%= f.text_field :locality, class: 'form-control', placeholder: 'Locality' -%></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2 col-sm-12 col-xs-12 form-label"><%= f.label :phone, "Phone" -%></div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<%= f.telephone_field :phone, class: "input-sm form-control", placeholder: 'Phone' -%>
		</div>
	</div>
</div>
<!-- End Content -->


<% content_for :head do -%>
	<style>
		@media screen and (min-width: 48em){
			div#storeEntry div.form-label { 
				text-align: right;
			}
		}
	</style>

<% end -%>

<% content_for :page_js do -%>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%= ENV["google_maps_api_key"] -%>"></script>
	<%= javascript_include_tag :google_maps, :store_new_edit -%>

	<script type="text/javascript">
	var gmaps = null;
	var api_path = '<%= api_v1_regions_path(format: :json) -%>';

	var store = null;

	$(document).ready(function(){
		store = new Store({url: api_path});
		gmaps = new GoogleMapsAutoComplete();
	});

	function remove_contact( handle ){	
		if($("table#contacts tbody tr").length == 1)
			$("table#contacts tbody tr input").val("");
		else
			$(handle).closest("tr").remove();
	}

	function add_fields(link, association, content) {
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g")
		$("table#contacts tbody").append(content.replace(regexp, new_id));
	}

	function resetNewRegionName(){
		$("input.region-name").val("");
	}
	</script>
<% end -%>
