<% content_for :page_js do %>
	<%= javascript_include_tag "dateformat" %>
	<script type="text/javascript">
	// Since first page is already loaded this causes the next call to start listing the second page
	var next_page = 2; 
	var per_page = <%= $per_page -%>;
	
	<% if defined?(ajax_path) %>
	var ajax_path = '<%= ajax_path.html_safe %>';
	<%- end -%>
	
	function load_more(){
		jQuery.ajax({
			url: ajax_path,
			data: {"page": next_page, "per_page" : per_page},
			dataType: "json",
			success: function(data){
				if(!data.more_pages) jQuery("table#store_listing tfoot").hide().remove();
				stores_found = data.stores.length;
				var stores = data.stores;
				var table_body = jQuery("table#store_listing tbody");
				for( i = 0; i < stores_found; i++){
					var row = jQuery("<tr/>");
					var store_information = jQuery("<td/>");
					var store_link = jQuery("<a/>");
					jQuery(store_link).attr("href", "<%= stores_path %>/" + stores[i].id);
					if(stores[i].locality)
						jQuery(store_link).text(stores[i].name + " (" + stores[i].locality + ")");
					else
						jQuery(store_link).text(stores[i].name);
					var store_address = stores[i].street_address.toTitleCase()+', ' + 
										stores[i].city.toTitleCase() + ', ' + 
										stores[i].state_code + " - " +
										stores[i].zip;
					jQuery(store_information).append(store_link).append("<br/>").append(store_address);
					
					jQuery(row).append(store_information);
					
					var audit_information = jQuery("<td/>");
					if(stores[i].last_audit){
						var audit_link = jQuery("<a/>");
						//jQuery(audit_link).attr("href", "<%= audits_path %>/" + stores[i].last_audit.id);
						jQuery(audit_link).text(stores[i].last_audit.score);
						var audit_date = dateFormat(stores[i].last_audit.created_at,"mmm dd, yyyy");
						jQuery(audit_information).append(audit_link).append("<br/>").append(audit_date);
					}
					else
						jQuery(audit_information).append("&nbsp;");
					
					jQuery(row).append( audit_information );
					jQuery(row).attr("class", (i%2 == 0 ? 'regular': 'alternate'));
					table_body.append( row );
				}
				next_page++;
			}
		});
	}
	</script>
	<%= javascript_include_tag "dateformat" %>
<% end %>
<% content_for :head do %>
	<style type="text/css" media="screen">
		table#store_listing { width: 100%;}
	</style>
<% end %>

<table id="store_listing" class="listing">
	<thead>
		<tr>
			<th scope="col">Store</th>
			<th scope="col">Last Audit</th>
		</tr>
	</thead>
	<% if more_pages then %>
	<tfoot>
		<tr>
			<td colspan="2" class="table_more_cell">
				<a id="load_more_stores" class="load_more" onclick="load_more()">More stores available</a>

			</td>
		</tr>
	</tfoot>
	<% end %>
	<tbody id="original_listing">
		<% store_collection.each do |store|%>
		<tr class="<%= cycle( 'regular', 'alternate' ) %>">
			<td><%=link_to store[:name_with_locality], "nothing"%><br/><%=store[:city]%></td>
			<td>
				<%- if defined?(store.last_audit) -%>				
					<%= store.last_audit[:score] -%><br/>
					<span <%= store.last_audit[:created_at] < 2.weeks.ago ? raw('class="warning"'):'' -%>><%= store.last_audit[:created_at]-%></span>
				<%- else -%>
				  &nbsp;
				<%- end -%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
