<%- 
	options_without_page = options 
	current_page = options_without_page.delete(:page)
-%>



<table class="table table-condensed" data-ng-app="StoreListing">
	<thead>
		<tr>
			<th scope="col" style="width: 50%">Name</th>
			<th scope="col" class="text-center">Last Audit</th>
		</tr>
	</thead>
	<tbody>
		<%- if store_list.nil? || store_list.size == 0 -%>
		<tr data-ng-show="stores == null || stores.length == 0">
			<td class="text-center" colspan="2"><em>No stores could be located that meet the search criteria. Please try again with a different criteria.</em></td>
		</tr>
		<% else -%>
			<%- store_list.each do |store| -%>
			<tr>
				<td>
					<%= link_to store[:full_name], store_path(store[:id]) -%>
					<address><%= store[:address] -%></address>
				</td>
				<td class="text-center">
					<%- if store.last_audit.present? -%>
						<%= link_to store.last_audit.score[:total].to_i, audit_path( store.last_audit[:id]) -%>
					<%- end -%>
					&nbsp;
				</td>
			</tr>
			<%- end -%>
		<%- end -%>
	</tbody>
</table>

<%- if current_page > 1 || more_pages -%>
<div class="col-md-12 col-sm-12 col-xs-12 pull-right">
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group" role="group">		
			<%- if current_page > 1 -%>
				<%= link_to stores_search_path(options_without_page.merge({page: current_page - 1})), class: "btn btn-standard btn-default" do -%>
					<i class="fa fa-chevron-left"></i><span class="hidden-sm hidden-xs"> Back</span>
				<% end -%>
			<%- else -%>
				<button disabled="disabled" class="btn btn-standard btn-default disabled"><i class="fa fa-chevron-left"></i><span class="hidden-sm hidden-xs"> Back</span></button>
			<% end -%>	
			<%- if defined?(more_pages) && more_pages -%>
				<%= link_to stores_search_path(options_without_page.merge({page: current_page + 1})), class: "btn btn-standard btn-default" do -%>
					<span class="hidden-sm hidden-xs">Next </span><i class="fa fa-chevron-right"></i>
				<% end -%>
			<%- else -%>
				<button disabled="disabled" class="btn btn-standard btn-default"><span class="hidden-sm hidden-xs">Next </span><i class="fa fa-chevron-right"></i></button>
			<% end -%>
		</div>
	</div>
</div>
<% end -%>
