
<div class="well well-sm">	
	<div class="row">
		<form method="get" action="<%= stores_search_path(:format => :html)%>">
			<%- if defined?(options) -%>
			<div style="display:none">
				<% if options[:company_id].present? -%>
					<input type="hidden" name="company_id" value="<%=options[:company_id]%>"/>
				<% end %>
				<% if options[:state].present? -%>
					<input type="hidden" name="state" value="<%=options[:state]%>"/>
					<input type="hidden" name="country" value="<%=options[:country]%>"/>
				<% end %>
			</div>
			<% end -%>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<input 
					type="text" 
					class="form-control" 
					name="q" 
					value="<%= defined?(options) && !options[:q].nil? ? options[:q] : nil -%>"
					placeholder="Store Name, City or State"/>
			</div>
			<div class="col-md-1 col-sm-12 col-xs-12">
				<button type="submit" class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Search</button>
			</div>			
		</form>
	</div>
</div>
