<% content_for :head do %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "table" %>
	<style type="text/css">
		fieldset.form_sections legend{
			background-color:#eee;
			border: 2px solid #ccc;
			padding: 0.5em;
			text-transform:uppercase;
		}
		div#left_column, div#right_column { display:none }
		table#contacts { width: 99.9%}
		table#contacts caption, h2#StoreHeading{ 
			font-size: 12pt;
			font-weight: bold;
			line-height: 2.2;
			text-transform: uppercase;
		}
		
		table#contacts tfoot td {
			padding: 1em;
			text-align: left 
		}
		
		td#td_AddContacts a {
			background-image: url( <%= image_path( "add_contact_32x32.png" ) %> );
			background-position: left center;
			background-repeat: no-repeat;
			display:block;
			min-height: 35px;
			line-height: 2.2;
			padding-left: 40px;
		}
	</style>
<% end %>

<% content_for :body do %>
	<%= form_for @store do |f| %>
	<fieldset class="form_sections">
		<div class="buttons">
			<%= f.submit "Save Changes", :class => "button"%>
		</div>
		<h2 id="StoreHeading">Store Information</h2>
		<div class="entry_row">
			<div class="entry_label">Name</div>
			<div class="entry_value"><%= f.text_field :name %></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Locality</div>
			<div class="entry_value"><%= f.text_field :locality %></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Store#</div>
			<div class="entry_value"><%= f.text_field :store_number %></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Company</div>
			<div class="entry_value"><%= f.select :company_id, options_from_collection_for_select(@companies, 'id', 'name', @store[:company_id])%></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Street Address</div>
			<div class="entry_value"><%= f.text_field :street_address %></div>
		</div>
		<div class="entry_row">
			<div class="entry_label">City</div>
			<div class="entry_value"><%= f.text_field :city %></div>
		</div>
		<div class="entry_row">
			<div class="entry_label">State</div>
			<div class="entry_value"><%= f.select :state_code, options_from_collection_for_select(@states, 'state_code', 'state_name', @store[:state_code])%></div>
		</div>
		<div class="entry_row">
			<div class="entry_label">Zipcode</div>
			<div class="entry_value"><%= f.text_field :zip %></div>
		</div>
			<div class="entry_row">
				<div class="entry_label">Country</div>
				<div class="entry_value"><%= f.text_field :country %></div>
			</div>
		<div class="entry_row">
			<div class="entry_label">Phone</div>
			<div class="entry_value"><%= f.telephone_field :phone %></div>
		</div>
		<table id="contacts" class="listing">
			<caption>Store Contacts</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Title</th>
					<th>Phone</th>
					<th>E-mail</th>
					<th><span style="display:none">Options</span></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5" id="td_AddContacts">
						<%= link_to_add_fields "Add Contact", f, :store_contacts -%>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<%= f.fields_for :store_contacts, :include_id => false do |store_contact| -%>
				<%= render :partial => "store_contacts/store_contact_fields", :locals => {:f => store_contact} -%>
				<%- end -%>
			</tbody>
		</table>
		<div class="buttons">
			<%= f.submit "Save Changes", :class => "button"%>
		</div>
	</fieldset>
	<% end %>
<% end %>

<% content_for :page_js do -%>
<script type="text/javascript">
function remove_contact( handle ){	
	if($("table#contacts tbody tr").length == 1)
		$("table#contacts tbody tr input").val("");
	else
		$(handle).closest("tr").remove();
}

function add_fields(link, association, content) {
	var new_id = new Date().getTime();
	var regexp = new RegExp("new_" + association, "g")
	$("table#contacts tbody").append(content.replace(regexp, new_id));
}
</script>
<% end -%>
