<% content_for :head do %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "table" %>
	<style type="text/css">
		fieldset.form_sections legend{
			background-color:#eee;
			border: 2px solid #ccc;
			padding: 0.5em;
			text-transform:uppercase;
		}
		div#left_column, div#right_column { display:none }
		table#contacts { width: 99.9%}
		table#contacts caption, h2#StoreHeading{ 
			font-size: 12pt;
			font-weight: bold;
			line-height: 2.2;
			text-transform: uppercase;
		}
		
		table#contacts tfoot td {
			padding: 1em;
			text-align: left 
		}
		
		td#td_AddContacts a {
			background-image: url( <%= image_path( "add_contact_32x32.png" ) %> );
			background-position: left center;
			background-repeat: no-repeat;
			display:block;
			min-height: 35px;
			line-height: 2.2;
			padding-left: 40px;
		}
	</style>
<% end %>

<% content_for :body do %>
	<%- store.build_region unless store.region -%>
	<%= form_for store do |f| %>
	<div style="display:none">
		<%= f.hidden_field :company_id unless f.object[:company_id].nil? -%>
		<%= f.hidden_field :street_address -%>
		<%= f.hidden_field :county -%>
		<%= f.hidden_field :city -%>
		<%= f.hidden_field :zip %>
		<%= f.hidden_field :state_code -%>
		<%= f.hidden_field :country -%>
	</div>	
	<%-	
	available_regions = []
	available_regions = Region.where(:company_id => f.object[:company_id]).select([:name, :id])  unless f.object[:company_id].nil? 
	-%>
	
	<fieldset class="form_sections">
		<div class="buttons">
			<%= f.submit "Save Changes", :class => "button"%>
		</div>
		<%- if store.errors.any? -%>
        <div id="error_explanation">
            <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>
            <ul>
              <% store.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
		<%- end -%>
		<h2 id="StoreHeading">Store Information</h2>
		<%- if f.object[:company_id].nil? -%>
		<div class="entry_row">
			<div class="entry_label">Company</div>
			<div class="entry_value"><%= f.select :company_id, options_from_collection_for_select(Company.list_for_dropdown, :id, :name, f.object[:company_id]), {:prompt => "-- Select --"}, {:onchange => "store.getRegionsByCompany(this.value, $('select[id$=region_id]'))"}%></div>		
		</div>
		<%- end -%>
		<div class="entry_row">
			<div class="entry_label">Region</div>
			<div class="entry_value">
				<%= f.select :region_id, options_from_collection_for_select(  available_regions, "id", "name"), {:prompt => "-- Select --"}, {:disabled => !available_regions.any?, :onchange => 'resetNewRegion()', :class => 'region-select'} -%>				
				<%= f.fields_for :region do |rf| -%>
				<br/> 
				<%= rf.label :name, 'or create a new region:' -%> <%= rf.text_field :name, :onchange => 'matchAgainstDropDown()', :class => 'region-name' -%>
				<%- end -%>
			</div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Name of store</div>
			<div class="entry_value"><%= f.text_field :name -%></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Store#</div>
			<div class="entry_value"><%= f.text_field :store_number %></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Address</div>
			<div class="entry_value"><input type="text" id="addressSearch" size="100" value="<%= f.object.address unless f.object[:street_address].nil? -%>"/></div>
		</div>
		<div class="entry_row">
			<div class="entry_label">Locality</div>
			<div class="entry_value"><%= f.text_field :locality -%></div>		
		</div>
		<div class="entry_row">
			<div class="entry_label">Phone</div>
			<div class="entry_value"><%= f.telephone_field :phone %></div>
		</div>
		<table id="contacts" class="listing">
			<caption>Store Contacts</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Title</th>
					<th>Phone</th>
					<th>E-mail</th>
					<th><span style="display:none">Options</span></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5" id="td_AddContacts">
						<%= link_to_add_fields "Add Contact", f, :store_contacts -%>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<%= f.fields_for :store_contacts, :include_id => false do |store_contact| -%>
				<%= render :partial => "store_contacts/store_contact_fields", :locals => {:f => store_contact} -%>
				<%- end -%>
			</tbody>
		</table>
		<div class="buttons">
			<%= f.submit "Save Changes", :class => "button"%>
		</div>
	</fieldset>
	<% end %>
<% end %>

<% content_for :page_js do -%>
<%= javascript_include_tag 'jquery.validate.min' -%>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%= ENV["google_maps_api_key"] -%>"></script>
<%= javascript_include_tag :google_maps, :store_new_edit -%>

<script type="text/javascript">
GoogleMapsAutoComplete();
var api_path = '<%= api_v1_regions_path(format: :json) -%>';

var store = null;

$(document).ready(function(){
	store = new Store({url: api_path});
});

function remove_contact( handle ){	
	if($("table#contacts tbody tr").length == 1)
		$("table#contacts tbody tr input").val("");
	else
		$(handle).closest("tr").remove();
}

function add_fields(link, association, content) {
	var new_id = new Date().getTime();
	var regexp = new RegExp("new_" + association, "g")
	$("table#contacts tbody").append(content.replace(regexp, new_id));
}

function resetNewRegionName(){
	$("input.region-name").val("");
}
</script>
<% end -%>
