<% content_for :page_js do %>
	<% if !@stores.nil? then %>
	<script type="text/javascript">
		var ajax_path = '<%= stores_search_path({:format=>:json}.merge(options)) %>';
	</script>
	<% end %>
<% end  %>
<% content_for :head do %>
	<%= stylesheet_link_tag "table" %>
	<%= stylesheet_link_tag "forms" %>
	<style type="text/css" media="screen">
		div#page_body {text-align:center;}
		div#sub_container {
			margin: 0 auto;
			text-align: left;
			width:70%;
		}
		table.listing{
			border-bottom:none;
		}
		input#q{
			width:30em;
		}
	</style>
<% end %>
<% content_for :left_column do %>
<h2>Filtering Options</h2>
<%- 
	if @facets['regions'] 
		params_without_region = options.reject{ |key,value| key.to_s == 'region' }
		path_prefix = stores_search_path
		path_prefix += "?" + params_without_region.to_param if params_without_region
-%>
	<h3 style="text-align:left">Regions</h3>
	<ul class="nav_items">
		<%- 
			@facets['regions'].each do |region| 
				url = path_prefix + "&" + {:region => region['term']}.to_param
		-%>
			<li <%= options[:region].to_i ==  region['term'].to_i ? raw("class='current'"): "" -%>><%= link_to_if options[:region].to_i !=  region['term'].to_i,  region[:region_name], url -%></li>
		<%- end -%>
		
		<%- if options[:region] -%>
			<li><%= link_to "All Regions", path_prefix -%></li>
		<%- end -%>
	</ul>
<%-
		params_without_region.delete_if{ true }
		params_without_region = nil
	else
-%>
		<p>No filtering options available for the current store listing</p>
	<%- end -%>
<% end %>
<%= render :partial => 'store_search', :locals => {:options => options} %>

<% if !@stores.nil? then %>
	<%= render :partial => "stores", \
		:locals => {:store_collection =>  @stores, :more_pages => @more_pages}%>
<% else %>
	We were unable to locate any stores matching the criteria you provided. Please review the search criteria.
<% end %>
