<% content_for :page_js do %>
	<script type="text/javascript">
		var ajax_path = '<%= ajax_path.html_safe %>';
	</script>
<% end  %>
<% content_for :head do %>
	<%= stylesheet_link_tag "table"%>
	<style type="text/css" media="screen">
		div#page_body {text-align:center;}
		div#sub_container {
			margin: 0 auto;
			text-align: left;
			width:70%;
		}
		table.listing{
			border-bottom:none;
		}
		input#q{
			width:30em;
		}
	</style>
<% end %>
<% content_for :left_column do %>
	<h2>Tools</h2>
	<ul class="nav_items">
		<li><%= link_to "Companies", companies_path %></li>
		<li><%= link_to "Audits", audits_path %></li>
		<li><%= link_to_unless_current "Add a store", new_store_path %></li>
	</ul>
<% end %>
<div id="refine">
	<form method="get" action="<%= stores_search_path(:format => :html)%>">
		<div class="entry_row">
			<div class="entry_label">Search</div>
			<div class="entry_value">
			<% if defined?(options) then %>
				<% if !options[:q].nil? then%>
					<input type="text" name="q" id="q" value="<%=options[:q]%>"/>
				<% else %>
					<input type="text" name="q" id="q"/>
				<% end %>
				<div style="display:none">
				<% if !options[:company_id].nil? then%>
					<input type="hidden" name="company_id" value="<%=options[:company_id]%>"/>
				<% end %>
				<% if !options[:division_id].nil? then%>
					<input type="hidden" name="division_id" value="<%=options[:division_id]%>"/>
				<% end %>
				<% if !options[:state_code].nil? then%>
					<input type="hidden" name="state_code" value="<%=options[:state_code]%>"/>
					<input type="hidden" name="country" value="<%=options[:country]%>"/>
				<% end %>
				</div>
			<% end %>
				<input type="submit" value="Search" style="float:right"/>
			</div>
		</div>
	</form>
</div>
<%= render :partial => "stores", \
	:locals => {:store_collection =>  stores}%>