<% content_for :page_js do %>
	<script type="text/javascript">
		var ajax_path = '<%=ajax_path.html_safe%>';
		function search(){
			$("tbody#original_listing").hide();
		}
	</script>
<% end %>
<% content_for :head do %>
	<%= stylesheet_link_tag "table"%>
	<style type="text/css" media="screen">
		div#page_body {text-align:center;}
		div#sub_container {
			margin: 0 auto;
			text-align: left;
			width:70%;
		}
		table.listing{
			border-bottom:none;
		}
		input#q{
			width:30em;
		}
	</style>
<% end %>
<% content_for :left_column do %>
	<h2>Tools</h2>
	<ul class="nav_items">
		<li><%= link_to "Companies", companies_path %></li>
		<li><%= link_to "Audits", audits_path %></li>
		<li><%= link_to_unless_current "Add a store", new_store_path %></li>
	</ul>
<% end %>
<div id="refine">
	<form onsubmit = "return false">
		<div class="entry_row">
			<div class="entry_label">Search</div>
			<div class="entry_value">
				<input type="text" placeholder="[Search by store name]" name="q" id="q"/>
				<input type="button" value="Search" style="float:right" onclick="search()"/>
			</div>
		</div>
	</form>
</div>
<%= render :partial => "stores", \
	:locals => {:store_collection =>  stores}%>