<% content_for :page_js do %>
	<% if !@stores.nil? then %>
	<script type="text/javascript">
		var ajax_path = '<%= stores_search_path(options) %>';
	</script>
	<% end %>
<% end  %>
<% content_for :head do %>
	<%= stylesheet_link_tag "table" %>
	<%= stylesheet_link_tag "forms" %>
	<style type="text/css" media="screen">
		div#page_body {text-align:center;}
		div#sub_container {
			margin: 0 auto;
			text-align: left;
			width:70%;
		}
		table.listing{
			border-bottom:none;
		}
		input#q{
			width:30em;
		}
	</style>
<% end %>
<% content_for :left_column do %>
<%- if @facets['regions'] -%>
	<h2>Regions</h2>
	<ul class="nav_items">
		<% @facets['regions'].each do |region| -%>
			<li><%= region[:region_name]-%></li>
		<%- end -%>
	</ul>
<%- end -%>
<% end %>
<%= render :partial => 'store_search', :locals => {:options => options} %>

<% if !@stores.nil? then %>
	<%= render :partial => "stores", \
		:locals => {:store_collection =>  @stores, :more_pages => @more_pages}%>
<% else %>
	We were unable to locate any stores matching the criteria you provided. Please review the search criteria.
<% end %>
