<% content_for :head do %>
	<%= stylesheet_link_tag "table"%>
	<style type="text/css" media="screen">
		div#page_body {text-align:center;}
		div#sub_container {
			margin: 0 auto;
			text-align: left;
			width:70%;
		}
		table.listing{
			border-bottom:none;
		}
	</style>
<% end %>
<% content_for :left_column do %>
	<h2>Tools</h2>
	<ul class="nav_items">
		<li><%= link_to "Companies", companies_path %></li>
		<li><%= link_to "Audits", audits_path %></li>
		<li><%= link_to_unless_current "Add a store", new_store_path %></li>
	</ul>
<% end %>
<div id="refine">
	<form>
		<div class="entry_row">
			<div class="entry_label">Search</div>
			<div class="entry_value">
				<input type="text" placeholder="[Search by store name]"/>
				<input type="button" value="Search" style="float:right"/>
			</div>
		</div>
	</form>
</div>
<%= render :partial => "stores", \
	:locals => {:store_collection =>  stores, \
	:ajax_path => ajax_path, \
	:allow_mass_edits => (defined?(allow_mass_edits) ? allow_mass_edits : false)}%>