<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<%= render :partial => 'store_search', :locals => {:options => options} %>
	</div>
</div>
<div class="row">
	<div class="col-md-2 hidden-sm hidden-xs" id="aggs">
		<%- if options[:company_id].present? -%>
		<h2 class="h4">Regions</h2>
			<%- if !aggs.nil? && aggs[:regions].present? -%>
			<%-
				params_without_region = options.reject{ |key,value| key.to_s == '_region' || key.to_s == "page" }
				path_prefix = stores_search_path
				path_prefix += "?" + params_without_region.to_param if params_without_region
			-%>
			<ul class="list-unstyled">

				<%- if options[:_region] -%>
					<li><strong><%= link_to "All Regions", path_prefix -%></strong></li>
				<%- end -%>
				<%- aggs[:regions].each do |region| -%>
				<%-
					url = path_prefix + "&" + {:_region => region[:id]}.to_param
				-%>
					<li <%= options[:_region].to_i ==  region[:id].to_i ? raw("class='active'"): "" -%>>
						<%= link_to_if options[:_region].to_i !=  region[:id].to_i,  region[:name], url -%>
					</li>
				<% end -%>
			</ul>
			<%- else -%>
				<p><em>No region filtering options are available for the current store listing.</em></p>
			<% end -%>
		<% end -%>

		<h2 class="h4">States</h2>
		<%- if !aggs.nil? && aggs[:states].present? && aggs[:states].size > 1 -%>
		<%-
			params_without_state = options.reject{ |key,value| key.to_s == '_state' || key.to_s == "page" }
			path_prefix = stores_search_path
			path_prefix += "?" + params_without_state.to_param if params_without_state
		-%>
		<ul class="list-unstyled">
			<%- if options[:_state] -%>
				<li><strong><%= link_to "All States", path_prefix -%></strong></li>
			<%- end -%>
			<%- aggs[:states].each do |state| -%>
			<%-
				url = path_prefix + "&" + {:_state => state[:state_code]}.to_param
			-%>
				<li <%= options[:_state] ==  state[:id] ? raw("class='active'"): "" -%>>
				<%- if options[:_state] !=  state[:state_code] -%>
					<i class="fa"></i><%= link_to   state[:name], url -%>
				<%- else -%>
					<i class="fa fa-chevron-right"><%= state[:name] -%></i>
				<% end -%>
				</li>
			<% end -%>
		</ul>
		<%- else -%>
			<p><em>No state filtering options are available for the current store listing.</em></p>
		<% end -%>
	</div>
	<div class="col-md-9 col-md-offset-1 col-sm-12 col-xs-12" data-ng-app>
		<%= render partial: "store_list", locals: {store_list: stores_found, more_pages: (total_results/options[:per_page] > options[:page]), options: options} -%>
	</div>	
</div>

<%- content_for :head do -%>
	<style type="text/css">
		div#aggs > h2.h4{
			border-bottom: 1px solid #CCC;
			line-height: 2.2;
		}
	</style>
<% end -%>


