<%- content_for :head do -%>
	<%= stylesheet_link_tag :forms -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		table.listing {
			border-bottom:none;
			margin-top: 0;
			width:100%;
		}
		table.listing caption{display:none;}

	</style>
<%- end -%>
<%- content_for :page_js do -%>
	<script type="text/javascript">
		var current_section;
		var store_id = <%= store[:id] -%>;
		var orders = null;
		
		function switch_sections( target_section ){
			var previous_section = $(current_section).attr("id");
			var next_section = $(target_section).attr("id");
			var onshow = $(target_section).attr("onshow");
			$(current_section).removeClass("current");
			$(target_section).addClass("current");
			current_section = $(target_section);
			
			previous_section = previous_section.substring( 0,previous_section.indexOf("_")) + "#" +
							   previous_section.substring( previous_section.indexOf("_") + 1);
			next_section = next_section.substring( 0, next_section.indexOf("_")) + "#" +
						   next_section.substring(next_section.indexOf("_")+1);

			if(onshow) eval( onshow );
			$(previous_section).hide();
			$(next_section).show();
			
		}
		
		function get_orders(){
			//if(orders != null ) {populate_orders( orders ); return}
			
			$.ajax({
				url: '<%= store_orders_path( store, :format => :json) -%>',
				data: {"l":"15"},
				dataType: "json",
				success: function(data){
					orders = data.orders;
					populate_orders( orders );
				},
				error: function(){ alert ("Uh oh"); }
			});
		}
		
		function populate_orders( orders ){
			var target_table_body = $("table#order_list tbody");
			if ( orders.length == 0 || $("tr", target_table_body).length > 0) return;
			
			var order_url_prefix = '<%= orders_path -%>';
			for( i = 0; i < orders.length; i++){
				target_table_body.append(
						$("<tr/>").append(
							$("<td/>").append(
								$("<input type='checkbox' id ='order'/>").val(orders[i].id)
							)
						).append	(
								$("<td/>").append(
									$("<a/>").attr("href", order_url_prefix + '/' + orders[i].id).text(orders[i].invoice_number ? orders[i].invoice_number : 'N/A'))
						).append(
							$("<td/>").text( (new Date(orders[i].created_at)).toLocaleDateString() )
						).append(
							$("<td/>").text( (orders[i].deliver_by_day ? orders[i].deliver_by_day : "N/A"))
						)					
					);
			}
			OrderList.bind_click_event_for_checkboxes();			
		}
		
		$(document).ready(function(){
			current_section = $("ul.nav_items li.current")[0];
			$("table.listing").hide();
			$("ul.nav_items li").click(function(){
				switch_sections( $(this) );
			});
			
		});
	</script>
<%- end -%>

<%- content_for :left_column  do -%>
	<h2>Links</h2> 
	<ul class="nav_items">
		<li class="current" id="div_store_information">Store Information</li>
		<%- if store.orders.count > 0 -%>
			<li id="table_order_list" onshow="get_orders()">Orders</li>
		<%- end -%>
	</ul>
<%- end -%>
<div id="store_information">
	<div class="toolbar">
		<%- if true #current_user.is_admin -%>
			<input type="button" value="Edit Store" onclick="window.location='<%=edit_store_path( store)-%>'" class= "icon_buttons"/>
		<%- end -%>
		<input type="button" value="New Order" onclick="window.location='<%=store_new_order_path(store)-%>'" class="icon_buttons"/>
	</div>
	<div class="entry_row">
		<div class="entry_label">Name</div>
		<div class="entry_value">
			<%= store[:name] -%>
		</div>
	</div>
	<%- if !store[:store_number].blank? && !store[:store_number].empty? -%>
	<div class="entry_row">
		<div class="entry_label">Store#</div>
		<div class="entry_value"><%= store[:store_number] -%></div>
	</div>
	<%- end -%>
	<div class="entry_row">
		<div class="entry_label">Company</div>
		<div class="entry_value">
			<%= link_to store.company[:name], company_path(store.company)-%> &nbsp;
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">Address</div>
		<div class="entry_value"><%= store.address-%></div>
	</div>
	<%- if !store[:phone].blank? && !store[:phone].empty? -%>
	<div class="entry_row">
		<div class="entry_label">Phone</div>
		<div class="entry_value"><%= number_to_phone(store[:phone]) -%></div>
	</div>
	<%- end -%>
</div>
<%- if store.orders.count > 0 -%>
	<%= render :partial => 'orders/order_listing' %>
<%- end -%>
