<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">				
				<div class="col-md-6 col-sm-6 col-xs-6">
					<h2 class="h2">Basic Information</h2>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
					<%- if true #current_user.is_admin -%>
						<%= link_to "Edit", edit_store_path(store), class: "btn btn-default" -%>
					<%- end -%>
				</div>
			</div>
		</div>
		<div class="panel-body store-attributes">
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Name</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%=store.full_name -%></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Store Number</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%= store[:store_number].blank? ? '<em>None specified</em>'.html_safe : store[:store_number] -%>&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Address</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><address><%= store.address -%></address></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Locality</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%= store[:locality].blank? ? '<em>Not available</em>'.html_safe : store[:locality] -%></div>
			</div>			
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Region</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%=store.region.nil? ? '<em>Not associated with any region</em>'.html_safe : store.region[:name] -%></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Company/Chain</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><strong><%= link_to store.company[:name], company_path( store.company ) -%></strong></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Phone</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%= store[:phone].blank? ? '<em>None specified</em>'.html_safe : store[:phone] -%></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12 flush-left">
		<div class="panel panel-default">		
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6"><h2 class="h2">Audits</h2></div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right">
							<%= link_to "New Audit", store_new_audit_path(store), class: "btn btn-sm btn-success" -%>	
							<%= link_to "View All", audit_search_path({store_id: store[:id]}), class: "btn btn-sm btn-default" if store.audits.size > 0 -%>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<%- if store.audits.size > 0 -%>
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col" class="visible-lg visible-md">Auditor</th>
							<th scope="col" class="text-center">Score</th>
						</tr>
					</thead>
					<tbody>

					<%- recent_audits.sort{ |b,a| a[:created_at] <=> b[:created_at]}.each do |audit| -%>
						<tr>
							<td><%= link_to audit[:created_at].strftime((audit[:created_at].year != Date.today.year ? "%m/%d/%Y" : "%m/%d")), audit_path(audit) -%></td>
							<td class="visible-lg visible-md"><%= audit[:auditor_name]-%></td>
							<td class="text-center">
								<%= audit.total_score -%>
								<%- if audit[:has_unresolved_issues] -%>
									<i class="fa fa-warning text-danger" title="This audit has some unresolved issues"></i>
								<% end -%>
							</td>
						</tr>
					<%- end -%>
					</tbody>
				</table>
				<%- else -%>
					<p class="text-center">At this time there are no audits available for this store</p>
				<% end -%>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12 flush-right">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6"><h2 class="h2">Orders</h2></div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right">
							<%= link_to "New Order", store_new_order_path(store), class: "btn btn-sm btn-success" -%>	
							<%= link_to "View All", audit_search_path({store_id: store[:id]}), class: "btn btn-sm btn-default" if store.orders.size > 0 -%>
			
					</div>
				</div>
			</div>
			<div class="panel-body table-responsive">
				<%- if store.orders.size > 0 -%>
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Order#</th>
							<th scope="col" class="hidden-sm hidden-xs">Route</th>
							<th scope="col" class="hidden-sm hidden-xs">Deliver By</th>
							<th scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
					<%- recent_orders.each do |order| -%>
						<tr>
							<td><%= order[:created_at].strftime((order[:created_at].year != Date.today.year ? "%m/%d/%Y" : "%m/%d")) -%></td>
							<td><%= link_to order[:id], order_path(order) -%></td>
							<td class="hidden-sm hidden-xs"><%= order.route[:name] -%></td>
							<td class="hidden-sm hidden-xs"><%= order.delivery_day_of_the_week.titlecase -%></td>
							<td>
								<%- if order[:email_sent] -%>
								  <i class="fa fa-check"></i>
								<%- end -%>
							</td>
						</tr>
					<%- end -%>
					</tbody>
				</table>
				<%- else -%>
					<p class="text-center">At this time there are no audits available for this store</p>
				<% end -%>
			</div>
		</div>
	</div>	
</div>

<% content_for :head do -%>
	<style>
		@media screen and (min-width: 48em){
			div.form-label { 
				text-align: right;
			}

			div.flush-left{
				padding-left: 0;
				margin-left: 0;
			}			
			div.flush-right{
				padding-right: 0;
				margin-right: 0;
			}
		}
		
		address {
			margin: 0 auto;
		}
		div.store-attributes > div.row{
			margin: 0.7em auto;
		}

		.form-label {
			font-weight: bold;
		}

		.h2{
			padding: 0.5em auto;
			margin: 0 auto;
		}
	</style>

<% end -%>

