<div style="display:none">
	<%= hidden_field_tag :store_id, @store[:id] -%>
</div>
<div id="order_basics">
	<div class="entry_row">
		<div class="entry_label">
			<strong>Store</strong>
		</div>
		<div class="entry_value">
			<%= @store[:name] -%><br/>
			<%= @store.address -%>			
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			<%= f.label :invoice_number, "Invoice" -%>
		</div>
		<div class="entry_value">
			<%= f.text_field :invoice_number, :style => "text-align : right" -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			<%= f.label :route_number, "Route" -%>
		</div>
		<div class="entry_value">
			<%= f.text_field :route_number, :style => "text-align : right" -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			<%= f.label :delivery_date, "Deliver By" -%>
		</div>
		<div class="entry_value">
			<%= f.text_field :delivery_date -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			<%= f.label :invoice_amount, "Amount" -%>
		</div>
		<div class="entry_value">
			<%= f.text_field :invoice_amount, :style => "text-align : right", :value => number_with_precision( @order[:invoice_amount], :precision => 2) -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			<%= f.label :fulfilled, "Status" -%>
		</div>
		<div class="entry_value">
			<%= f.check_box :fulfilled -%>
			<%= f.label :fulfilled, "Order has been fulfilled" -%>
		</div>
	</div>
</div>
<table id="products" class="listing">
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="3" class="table_more_cell"><%= link_to_add_fields "Add Product", f, :product_orders %></td>
		</tr>
	</tfoot>
	<tbody>
		<%= f.fields_for :product_orders, :include_id => false do |product_order_form| -%>
		<%= render :partial => "product_orders/product_order_fields", :locals => {:f => product_order_form} -%>
		<%- end -%>
	</tbody>
</table>
<div class="spacer">
	
</div>

<% content_for :head do -%>
<style type="text/css" media="screen">
	table#products{
		border: 2px solid #ddd;
		margin-left: 47%;
		width: 53%;
	}
	table#products input[type=text] { text-align: right; width: 30px }
	div#order_basics{
		border: 2px solid #ddd;
		float:left;
		margin-left: 0;
		width: 45%;
	}
	
	div.buttons{
		background-color: #eee;
		border: 2px solid #ddd;
		display: block;
	}
</style>	
<% end -%>

<% content_for :page_js do -%>
<script type="text/javascript">
function remove_product( handle ){
	$(handle).closest("tr").remove();
}

function add_fields(link, association, content) {
	var new_id = new Date().getTime();
	var regexp = new RegExp("new_" + association, "g")
	$("table#products tbody").append(content.replace(regexp, new_id));
}
</script>
<% end -%>