<% if defined? search_title -%>
<h2><%= search_title || 'Recent Orders' -%></h2>
<%- end -%>
<form id="order_list_form" onsubmit="return false" method="get">

<table id="order_list" class="listing">
	<thead>
		<tr>
			<th scope="col">
				Select All<br/>
				<%= check_box_tag :select_all -%>
			</th>
			<th scope="col">PO</th>
			<th scope="col">
			<%- if defined?(show_store) && show_store -%>
				Store
			<%- else -%>
			  	Order Created On
			<%- end -%>
			</th>
			<th scope="col">Deliver By</th>
		</tr>
		<tr class="toolbar">
             <td colspan="4">
				<input type="button" rel="div#email_order" id="a_email_order" value="Email Order"/>
				<input type="button" value="Delete" id="delete_orders"/>
             </td>    
         </tr>
	</thead>
	<%- if defined?(more_pages) && more_pages -%>
	<tfoot>
		<tr>
			<td colspan="4" class="table_more_cell">
				<a onclick="OrderList.load_more_orders()" class="load_more">More Orders Available...</a>
			</td>
		</tr>
	</tfoot>
	<%- end -%>
	<tbody>
	<%- if defined?(orders) -%>
		<%- if orders.size > 0 -%>
		<%- orders.each do |order| -%>
			<tr>
				<td><%= check_box_tag :order, order[:id] -%></td>
				<td><%= link_to (order[:invoice_number].blank? ? "N/A" : order[:invoice_number]), order_path(order[:id]) -%></td>
				<td>
				<%- if defined? show_store && show_store -%>
					<%= link_to order[:store_name ], store_path( order[:store_id] ) -%>
				<%- else -%>
				  	<%= order[:created_at].strftime("%b %d, %Y") %>
				<%- end -%>
				</td>			
				<td><%= order[:deliver_by_day]  %></td>
			</tr>
		<%- end -%>
		<%- else -%>
		  <tr>
			<td colspan="4">We were unable to locate orders matching the criteria you provided. Please revise your choices and try again.</td>
		  </tr>
		<%- end -%>
	<%- end -%>
	</tbody>
</table>
</form>
<div id="email_order">
	<form id="email_order_form" onsubmit="return false;" method="get">
		<div id="email_order-header">
			<h3>Email Order(s)</h3>
			<a class="modal_close" href="#"></a>
		</div>
		<p>Use commas to separate multiple recipients.</p>
		<div class="entry_row">
			<label for="email_addresses">Email Address(es)</label><br/>
                        <%= email_field_tag :email_addresses, nil, :multiple => true -%>
		</div>
		<div class="entry_row">
			<label for="email_body">Message</label> - <em>optional</em><br/>
			<%= text_area_tag :email_body, nil, :rows => 5, :cols => 65 -%>
		</div>
		
		<div class="button_row"><input type="button" id="send_email" value="Send" /></div>
	</form>	
</div>
<% content_for :head do -%>
  <%= stylesheet_link_tag :order_list -%>
<% end -%>
<% content_for :page_js do -%>
	<%= javascript_include_tag "jquery.leanModal.min.js" -%>
	<%= javascript_include_tag :orders_list -%>
	<script type="text/javascript">	
		window.order_path = '<%= orders_path -%>';
		window.email_order_path = '<%= email_order_path -%>';
		window.orders_search_path = '<%= orders_search_path -%>';
		window.stores_path = '<%= stores_path -%>'
		$( document ).ready( function(){
			OrderList.init();			
		});
	</script>
<%- end -%>
