<% if defined? search_title  
	search_params_without_sent = search_params.reject{ |key,value| key.to_s == 'sent' }
-%>
<h2><%= search_title || 'Recent Orders' -%></h2>

<p><strong>Show:</strong> 
	<%= link_to_unless_current "All Orders", [orders_search_path, search_params_without_sent.to_param].join("?") -%> | 
	<%= link_to_unless_current "Completed Orders", [orders_search_path, search_params_without_sent.merge({:sent => 'T'}).to_param].join("?") -%> | 
	<%= link_to_unless_current "Pending Orders", [orders_search_path, search_params_without_sent.merge({:sent => 'F'}).to_param].join("?") -%>
	
</p>
<%- end -%>
<form id="order_list_form" onsubmit="return false" method="get">
<table id="order_list" class="listing">
	<thead>
		<tr>
			<th scope="col">
				Select All<br/>
				<%= check_box_tag :select_all if !defined?(orders) || (defined?(orders) && orders.size > 0) -%>
			</th>
			<th scope="col">Order Created On</th>
			<th scope="col">
			<%- if defined?(show_store) && show_store -%>
				Store
			<%- else -%>
			  	PO
			<%- end -%>
			</th>
			<th scope="col">Deliver By</th>
			<th scope="col">Status</th>
		</tr>
		<tr class="toolbar">
             <td colspan="5">
				<input type="button" rel="div#email_order" id="a_email_order" value="Email Order"/>
				<input type="button" value="Delete" id="delete_orders"/>
             </td>    
         </tr>
	</thead>
	<%- if defined?(more_pages) && more_pages -%>
	<tfoot>
		<tr>
			<td colspan="5" class="table_more_cell">
				<a onclick="OrderList.load_more_orders()" class="load_more">More Orders Available...</a>
			</td>
		</tr>
	</tfoot>
	<%- end -%>
	<tbody>
	<%- if defined?(orders) -%>
		<%- if orders.size > 0 -%>
		<%- orders.each do |order| -%>
			<tr>
				<td><%= check_box_tag :order, order[:id] -%></td>
				<td><%= link_to order[:created_at].to_date.strftime("%b %d, %Y") , order_path(order[:id]) -%></td>
				<td>
				<%- if defined? show_store && show_store -%>
					<%= order[:store_name ] -%>
				<%- else -%>
				  	<%= (order[:invoice_number].blank? ? "N/A" : order[:invoice_number]) -%>
				<%- end -%>
				</td>			
				<td><%= order[:deliver_by_day]  %></td>
				<td>
				<%- if order[:sent] -%>
					<span class="order_sent">Sent</span>
				<%- else -%>
					<span class="order_pending">Pending</span>
				<%- end -%>
				</td>
			</tr>
		<%- end -%>
		<%- else -%>
		  <tr>
			<td colspan="5">We were unable to locate orders matching the criteria you provided. Please revise your choices and try again.</td>
		  </tr>
		<%- end -%>
	<%- end -%>
	</tbody>
</table>
</form>
<div id="email_order">
	<form id="email_order_form" onsubmit="return false;" method="get">
		<div id="email_order-header">
			<h3>Email Order(s)</h3>
			<a class="modal_close" href="#"></a>
		</div>
		<div class="entry_row" style="display:none">
			<label for="email_addresses">Email Address(es)</label><br/>
                        <%= email_field_tag :email_addresses, "banerji.abhishek@gmail.com", :multiple => true -%>
		</div>
		<div class="entry_row">
			<label for="email_body">Message</label> - <em>optional</em><br/>
			<%= text_area_tag :email_body, nil, :rows => 5, :cols => 65 -%>
		</div>
		
		<div class="button_row"><input type="button" id="send_email" value="Send" /></div>
	</form>	
</div>
<% content_for :head do -%>
  <%= stylesheet_link_tag :order_list -%>
  <style type="text/css" media="screen">
	span.order_sent, span.order_pending { 
		color: #fff; 
		font-family: Verdana, Tahoma, Arial, Sans-serif;
		font-size: 10pt;  
		display:inline-block; 
		letter-spacing: 1.5px;
		padding: 0.3em; 
		text-align: center; 
		text-transform: uppercase; 
		min-width: 5em; 
	}
	span.order_sent{ background-color: #808000 }
	span.order_pending{ background-color: #C11B17 }
  </style>
<% end -%>
<% content_for :page_js do -%>
	<%= javascript_include_tag "jquery.leanModal.min.js" -%>
	<%= javascript_include_tag "dateformat.js" -%>
	<%= javascript_include_tag :orders_list -%>
	<script type="text/javascript">	
		window.order_path = '<%= orders_path -%>';
		window.email_order_path = '<%= email_order_path -%>';
		window.orders_search_path = '<%= orders_search_path -%>';
		window.stores_path = '<%= stores_path -%>'
		$( document ).ready( function(){
			OrderList.init();			
		});
	</script>
<%- end -%>
