<% content_for :head do -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		table#order_list{
			margin: auto 1px;
			width: 99%;
		}
		
		table#order_list tfoot td{
			
		}
		
		table#order_list thead tr:first-child th:first-child, table#order_list tbody tr td:first-child
		{ text-align: center; width: 10%}
		
		table#order_list tbody tr td:first-child + td {text-align: left; width: 30%}
		
		table#order_list caption{
			border: 2px solid #ccc;
			background-color: #eee;
			font-weight: bold;
			padding: 0.7em auto;
		}	
		table#order_list thead td.toolbar{
			background-color: #505050;
			color: #fff;
			font-weight: bold;
			padding: 0.5em;
			text-align: left;
		}
	</style>
<% end -%>
<% content_for :left_column do %>
	<h2>Links</h2>
	<ul class="nav_items">
	</ul>
<% end %>
<form onsubmit="return false">
<table id="order_list" class="listing">
	<thead>
		<tr>
			<th scope="col">
				Select All<br/>
				<%= check_box_tag :select_all -%>
			<th scope="col">Store</th>
			<th scope="col">Invoice Number</th>
			<th scope="col">Invoice Amount</th>
			<th scope="col">Date</th>
			<th scope="col">Options</th>
		</tr>
		<tr>
			<td colspan="6" class="toolbar" id="toolbar">
				<input type="button" value="Delete" onclick="if( confirm( 'Are you sure you want to delete the selected order(s)') ) {delete_checked_ids(); }"/>
			</td>
		</tr>
	</thead>
	<%- if more_pages -%>
	<tfoot>
		<tr>
			<td colspan="6" class="table_more_cell">
				<%= link_to "More Orders Available...", '#', :class => "load_more" -%>
			</td>
		</tr>
	</tfoot>
	<%- end -%>
	<tbody>
	<%- orders.each do |order| -%>
		<tr>
			<td><%= check_box_tag :order, order[:id] -%></td>
			<td><%= link_to (order[:store_name ] || order.store[:name]), store_path( order[:store_id] ) -%></td>
			<td><%= link_to (order[:invoice_number].blank? ? "N/A" : order[:invoice_number]), order_path(order) -%></td>			
			<td><%= order[:invoice_amount].blank? ? "N/A" : number_to_currency(order[:invoice_amount]) -%></td>
			<td><%= order[:created_at].strftime("%b %d, %Y")  %></td>
			<td>
				<span class="email_link"><a onclick="open_email_form( this )">Email</a></span>
				<div class="email_form">
					<form onsubmit="return false">
						<div style="display:none"><input type="hidden" name="order_id" value="<%=order[:id]-%>"/></div>
						<input type="text" name="email" placeholder="Email address"/><br/>
						<input type="button" value="Send" onclick="send_email(this); close_email_form(this)"/>
						<input type="button" value="Cancel" onclick="close_email_form(this)"/>
					</form>
				</div>			
			</td>
		</tr>
	<%- end -%>
	</tbody>
</table>
</form>

<% content_for :page_js do -%>
	<%= javascript_include_tag :jquery_ujs -%>
	<script type="text/javascript">
		var select_all_checkbox = null;
		var toolbar_td = null;
		$(document).ready(function(){
			$("div.email_form").hide();
			select_all_checkbox = $("input#select_all");
			toolbar_td = $("td#toolbar");
			$(select_all_checkbox).click( select_all_toggle );
			$("input#order").click( function(){
				toggle_toolbar();
				
				if(!$(this).is(":checked")) $(select_all_checkbox).attr("checked",false);
			});
			$(toolbar_td).hide();
			
		})
		
		function toggle_toolbar( checkbox ){
			if($("input#order").filter(":checked").length > 0)
				$(toolbar_td).slideDown();
			else
				$(toolbar_td).slideUp();
		}
		
		function open_email_form( click_link )
		{
			source_link = $( click_link );
			target_form = $( source_link ).parent().next("div.email_form");
			source_link.parent().hide();
			target_form.show();
		}
		
		function send_email( click_link ){
			source_link = $(click_link);
			source_form = $(source_link).parent();
			order = $("input[name='order']", source_form).val();
			email = $("input[name='email']", source_form).val();
			
			$.ajax( {
					url: "<%= email_order_path -%>",
					data: {"order": order, "email": email},
					type: "POST"
			});
		}
		
		
		
		function close_email_form( click_link )
		{
			source_link = $( click_link );
			close_form = $( source_link ).parent();
			email_link = $( close_form).parent().prev("span.email_link");
			close_form.parent().hide();
			email_link.show();
		}
		
		function select_all_toggle(){
			var status = $(select_all_checkbox).is(":checked") ;
			$("input#order").each( function() { $(this).attr("checked", status)});
			
			if(status) 
				$(toolbar_td).slideDown();
			else
				$(toolbar_td).slideUp();
		}
		
		function delete_checked_ids(){
			var ids = $.map( $("input#order").filter(":checked"), function( order_checkbox ) { return $(order_checkbox).attr("value") });
			params_id = ids.join(" ");
			$.ajax({
				url: '<%= orders_path -%>/' + params_id ,
				type: 'DELETE',
				success: function(){
					window.location.reload(true)
				}
			});
			
		}
	</script>
	
<% end -%>