<% content_for :head do -%>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" media="screen" type="text/css"/>
        <%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		table#order_list{
			margin: auto 1px;
			width: 99%;
		}
		
		table#order_list tfoot td{
			
		}
		
		table#order_list thead tr:first-child th:first-child, table#order_list tbody tr td:first-child
		{ text-align: center; width: 10%}
		
		table#order_list tbody tr td:first-child + td {text-align: left; width: 30%}
		
		table#order_list caption{
			border: 2px solid #ccc;
			background-color: #eee;
			font-weight: bold;
			padding: 0.7em auto;
		}	
		table#order_list thead tr.toolbar td{
			background-color: #505050;
			color: #fff;
			font-weight: bold;
			padding: 0.5em;
			text-align: left;
		}
		
		#lean_overlay {
		    position: fixed;
		    z-index: 10000;
		    top: 0px;
		    left: 0px;
		    height:100%;
		    width:100%;
		    background: #000;
		    display: none;
		}


		/*---------------------------------------

			EXAMPLES

		-----------------------------------------*/

		div#email_order {

		     width: 640px;
		     padding-bottom: 0.5em;
			display:none;


		    background: #FFF;
		        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);

		}


		div#email_order-header { background: url(<%=image_path("hd-bg.png") -%>); padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

		div#email_order-header  h2 { color: #444; font-weight: bold; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
		div#email_order-header  p { color: #444; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

		div#email_order .txt-fld { display: block; width: auto; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
		div#email_order .btn-fld { width: auto; overflow: hidden; margin: auto 0.3em}

		div#email_order .txt-fld label { display: block; float: left; width: 30%; padding-top: 8px; color: #222; text-align: left;  }
		div#email_order .txt-fld input { width: 69%; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #222; background: #F7F7F7; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; margin-left: 31%; margin-right:0}
		
		
		.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(<%=image_path("modal_close.png") -%>); z-index: 2; }
	</style>
<% end -%>
<% content_for :left_column do %>
	<h2>Links</h2>
	<ul class="nav_items">
	</ul>
<% end %>
<form onsubmit="return false">

<table id="order_list" class="listing">
	<thead>
		<tr>
			<th scope="col">
				Select All<br/>
				<%= check_box_tag :select_all -%>
			<th scope="col">Store</th>
			<th scope="col">Invoice Number</th>
			<th scope="col">Invoice Amount</th>
			<th scope="col">Date</th>
		</tr>
<<<<<<< HEAD
		<tr>
			<td colspan="5" class="toolbar" id="toolbar">
				<a href="div#email_order" id="a_email_order">Email Order</a>
=======
		<tr class="toolbar">
                        <td>
>>>>>>> origin/prod
				<input type="button" value="Delete" onclick="if( confirm( 'Are you sure you want to delete the selected order(s)') ) {delete_checked_ids(); }"/>
                        </td>
                        <td colspan="5">
                          <label for="email_addresses">Email selected orders to</label>:
                                <%= email_field_tag :email_addresses -%>
                        </td>      
                </tr>
	</thead>
	<%- if more_pages -%>
	<tfoot>
		<tr>
			<td colspan="5" class="table_more_cell">
				<%= link_to "More Orders Available...", '#', :class => "load_more" -%>
			</td>
		</tr>
	</tfoot>
	<%- end -%>
	<tbody>
	<%- orders.each do |order| -%>
		<tr>
			<td><%= check_box_tag :order, order[:id] -%></td>
			<td><%= link_to (order[:store_name ] || order.store[:name]), store_path( order[:store_id] ) -%></td>
			<td><%= link_to (order[:invoice_number].blank? ? "N/A" : order[:invoice_number]), order_path(order) -%></td>			
			<td><%= order[:invoice_amount].blank? ? "N/A" : number_to_currency(order[:invoice_amount]) -%></td>
			<td><%= order[:created_at].strftime("%b %d, %Y")  %></td>
		</tr>
	<%- end -%>
	</tbody>
</table>
</form>

<<<<<<< HEAD
<div id="email_order">
	<form onsubmit="return false;">
	<div id="email_order-header">
		<h2>Email Order</h2>
		<a class="modal_close" href="#"></a>
	</div>
		<p>Use commas to separate multiple recipients.</p>
		<div class="txt-fld">
			<label for="email_addresses">Email Address(es)</label>
			<%= text_field_tag :email_addresses -%>
		</div>
		
		<div class="btn-fld"><input type="submit" value="Continue &rarr;"></div>
	</form>
	
</div>
=======
<form action="" class="login_form modal" id="ex2" style="display:none;">
  <h3>Email Order</h3>
  <p><label>Email Address(es)</label>:<br/>
  <input type="text" /></p>
  <p>Separate multiple email addresses with commas.</p>
  <p><input type="submit" value="Send Email" /></p>
</form>
>>>>>>> origin/prod

<% content_for :page_js do -%>
	<%= javascript_include_tag :jquery_ujs -%>
	<%= javascript_include_tag "jquery.leanModal.min.js" -%>
	<script type="text/javascript">
		var select_all_checkbox = null;
		var toolbar_td = null;
		$(document).ready(function(){
			$("div.email_form").hide();
			select_all_checkbox = $("input#select_all");
			toolbar_td = $("tr.toolbar");
			$(select_all_checkbox).click( select_all_toggle );
			$("input#order").click( function(){
				toggle_toolbar();
				
				if(!$(this).is(":checked")) $(select_all_checkbox).attr("checked",false);
			});
			$(toolbar_td).hide();
			$("a#a_email_order").leanModal({ top : 200, overlay : 0.4, closeButton: ".modal_close" });
			
		})
		
		function toggle_toolbar( checkbox ){
			if($("input#order").filter(":checked").length > 0)
				$(toolbar_td).slideDown();
			else
				$(toolbar_td).slideUp();
		}
		
		function open_email_form( click_link )
		{
			source_link = $( click_link );
			target_form = $( source_link ).parent().next("div.email_form");
			source_link.parent().hide();
			target_form.show();
		}
		
		function send_email( click_link ){
			source_link = $(click_link);
			source_form = $(source_link).parent();
			order = $("input[name='order']", source_form).val();
			email = $("input[name='email']", source_form).val();
			
			$.ajax( {
					url: "<%= email_order_path -%>",
					data: {"order": order, "email": email},
					type: "POST"
			});
		}
		
		
		
		function close_email_form( click_link )
		{
			source_link = $( click_link );
			close_form = $( source_link ).parent();
			email_link = $( close_form).parent().prev("span.email_link");
			close_form.parent().hide();
			email_link.show();
		}
		
		function select_all_toggle(){
			var status = $(select_all_checkbox).is(":checked") ;
			$("input#order").each( function() { $(this).attr("checked", status)});
			
			if(status) 
				$(toolbar_td).slideDown();
			else
				$(toolbar_td).slideUp();
		}
		
		function delete_checked_ids(){
			var ids = $.map( $("input#order").filter(":checked"), function( order_checkbox ) { return $(order_checkbox).attr("value") });
			params_id = ids.join(" ");
			$.ajax({
				url: '<%= orders_path -%>/' + params_id ,
				type: 'DELETE',
				success: function(){
					window.location.reload(true)
				}
			});
			
		}
	</script>
	
<% end -%>
