<% content_for :head do -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		table#order_list{
			margin: auto 1px;
			width: 99%;
		}
		
		table#order_list tfoot td{
			
		}
		
		table#order_list caption{
			border: 2px solid #ccc;
			background-color: #eee;
			font-weight: bold;
			padding: 0.7em auto;
		}	
	</style>
<% end -%>
<% content_for :left_column do %>
	<h2>Links</h2>
	<ul class="nav_items">
	</ul>
<% end %>
<table id="order_list" class="listing">
	<thead>
		<tr>
			<th scope="col">Store</th>
			<th>Date</th>
			<th>Invoice Number</th>
			<th>Invoice Amount</th>
			<th>Delivery Date</th>
			<th>Status</th>
			<th>Options</th>
		</tr>
	</thead>
	<%- if more_pages -%>
	<tfoot>
		<tr>
			<td colspan="7" class="table_more_cell">
				<%= link_to "More Orders Available...", '#', :class => "load_more" -%>
			</td>
		</tr>
	</tfoot>
	<%- end -%>
	<tbody>
	<%- orders.each do |order| -%>
		<tr>
			<td><%= link_to (order[:store_name ] || order.store[:name]), store_path( order[:store_id] ) -%></td>
			<td><%= order[:created_at].strftime("%b %d, %Y")  %></td>
			<td><%= link_to (order[:invoice_number].blank? ? "Not Available" : order[:invoice_number]), store_order_path(order[:store_id],order) -%></td>			
			<td><%= order[:invoice_amount].blank? ? "Not Available" : number_to_currency(order[:invoice_amount]) -%></td>
			<td><%= order[:delivery_date].blank? ? raw("Not Available") : order[:delivery_date].strftime("%b %d, %Y") %></td>
			<td><%= !order[:fulfilled] ? raw("Awaiting Delivery") : "Delivered" %></td>
			<td>
				<span class="email_link"><a onclick="open_email_form( this )">Email</a></span>
				<div class="email_form">
					<form onsubmit="return false">
						<div style="display:none"><input type="hidden" name="order" value="<%=order[:id]-%>"/></div>
						<input type="text" name="email" placeholder="Email address"/><br/>
						<input type="button" value="Send" onclick="send_email(this); close_email_form(this)"/>
						<input type="button" value="Cancel" onclick="close_email_form(this)"/>
					</form>
				</div>			
			</td>
		</tr>
	<%- end -%>
	</tbody>
</table>

<% content_for :page_js do -%>
	<%= javascript_include_tag :jquery_ujs -%>
	<script type="text/javascript">
		$(document).ready(function(){
			$("div.email_form").hide();
		})
		
		function open_email_form( click_link )
		{
			source_link = $( click_link );
			target_form = $( source_link ).parent().next("div.email_form");
			source_link.parent().hide();
			target_form.show();
		}
		
		function send_email( click_link ){
			source_link = $(click_link);
			source_form = $(source_link).parent();
			order = $("input[name='order']", source_form).val();
			email = $("input[name='email']", source_form).val();
			
			$.ajax( {
					url: "<%= email_order_path -%>",
					data: {"order": order, "email": email},
					type: "POST"
			});
		}
		
		
		
		function close_email_form( click_link )
		{
			source_link = $( click_link );
			close_form = $( source_link ).parent();
			email_link = $( close_form).parent().prev("span.email_link");
			close_form.parent().hide();
			email_link.show();
		}
	</script>
	
<% end -%>