<% content_for :body do -%>
<%= form_for @order, :url => order_path(@order) do |f| -%>
<%= render :partial => 'entry', :locals => {:f => f} -%>
<div class="spacer"></div>
<div class="buttons">	
	<%= f.submit "Save", :class=>"button" -%>
	<input type="button" value="Cancel" onclick="window.location = '<%= edit_order_path( @order ) -%>'" class="button" />
</div>
<%- end -%>
<%- end -%>

<%- content_for :head do -%>
	<%= stylesheet_link_tag :forms -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		div#left_column, div#right_column {display:none}
	</style>
<%- end -%>
