

<% content_for :head do -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		table#order_list{
			border-bottom: none;
			margin: auto 1px;
			width: 99%;
		}
		
		table#order_list tfoot td{
			
		}
		
		table#order_list caption{
			border: 2px solid #ccc;
			background-color: #eee;
			font-weight: bold;
			padding: 0.7em auto;
		}
		table#order_list tbody tr:last-child td {border-bottom:none}	
	</style>
<% end -%>

<% content_for :left_column do %>
	<h2>Links</h2>
	<ul class="nav_items">
		<li><%= link_to "New Order...", store_new_order_path(@store) -%></li>
		<li><%= link_to "Store Information", store_path(@store) -%></li>
		<li><%= link_to "Chain Information", company_path(@store.company) -%></li>
	</ul>
<% end %>

<table id="order_list" class="listing">
	<thead>
		<tr>
			<th>Date</th>
			<th>PO</th>
			<th>Delivery Date</th>
		</tr>
	</thead>
	<%- @store_orders.each do |order| -%>
		<tr>
			<td><%= order[:created_at].strftime("%b %d, %Y")  %></td>
			<td><%= link_to (order[:invoice_number].blank? ? "Not Available" : order[:invoice_number]), order_path(order) -%></td>
			<td><%= order[:delivery_date].blank? ? raw("&nbsp;") : order[:delivery_date].strftime("%b %d, %Y") %></td>
		</tr>
	<%- end -%>
	</tbody>
</table>