<%= form_for @order, :url => store_orders_path(@store) do |f| -%>
<%= render :partial => 'entry', :locals => {:f => f} -%>
<div class="spacer"></div>
<div class="buttons">	
	<%= f.submit "Save", :class=>"button" -%>
	<input type="button" value="Cancel" onclick="window.location = '<%= store_orders_path( @store ) -%>'" class="button" />
</div>
<%- end -%>

<% content_for :head do -%>
		<%= stylesheet_link_tag :forms -%>
		<%= stylesheet_link_tag :table -%>
<% end -%>
