<%-
  page = 1
  per_page = 10
  more_pages = false unless defined?(more_pages)

  options_without_page = options.clone
  options_without_page.delete(:page)

  page = options[:page] if defined?(options) && options[:page].present?
  per_page = options[:per_page] if defined?(options) && options[:per_page].present?


-%>
<div class="row">
  <div class="col-md-3 hidden-sm hidden-xs">
    <h2 class="h3">Find Orders by Date</h2>
    <ul class="list-unstyled">
      <%- predefined_search_criteria.each do |search_specs| -%>   
        <li>
        <%= link_to_if (search_specs[1][:start_date].to_date != options[:start_date].to_date || search_specs[1][:end_date].to_date != options[:end_date].to_date), search_specs[0], orders_search_path(search_specs[1]) -%>
        </li>
      <%- end -%>
    </ul>
    <h2 class="h3">Filtering Options</h2>
    <%- if aggs && aggs[:states].present? -%>
    <h3 class="h4">By State</h3>
    
    <ul class="list-unstyled">
    <%-
          options_without_state = options.clone
          options_without_state.delete(:_shipping_state)
    -%>
    <%- if options[:_shipping_state].present? then -%>
      <li><%= link_to "All States", orders_search_path(options_without_state) -%></li>
    <% end -%>
    <%- aggs[:states].each do |state| -%>
      <li>
        <%= link_to_if aggs[:states].size > 1 && state[:state_code] != options[:_shipping_state], state[:name],orders_search_path(options_without_state.merge({_shipping_state: state[:state_code]})) -%>
      </li>
    <% end -%>
    </ul>
    <% end -%>

    <%- if aggs && aggs[:companies].present? -%>
    <h3 class="h4">By Company</h3>
    <ul class="list-unstyled">
    <%-
          options_without_company = options.clone
          options_without_company.delete(:_company_id)
    -%>
    <%- if options[:_company_id].present? then -%>
      <li><%= link_to "All Companies", orders_search_path(options_without_company) -%></li>
    <% end -%>
    <%- aggs[:companies].each do |company| -%>
      <li>
        <%= link_to_if (aggs[:companies].size > 1 && company[:id].to_i != options[:_company_id].to_i), company[:name],orders_search_path(options_without_company.merge({_company_id: company[:id]})) -%>
      </li>
    <% end -%>
    </ul>
    <% end -%>

    <%- if aggs && aggs[:routes].present? -%>
    <h3 class="h4">By Route</h3>
    <ul class="list-unstyled">
    <%-
          options_without_route = options.clone
          options_without_route.delete(:_route)
    -%>
    <%- if options[:_route].present? then -%>
      <li><%= link_to "All Routes", orders_search_path(options_without_route) -%></li>
    <% end -%>
    <%- aggs[:routes].each do |route| -%>

      <li>
        <%= link_to_if (aggs[:routes].size > 1 && route[:id].to_i != options[:_route].to_i), route[:name],orders_search_path(options_without_route.merge({_route: route[:id]})) -%>
      </li>
    <% end -%>
    </ul>
    <% end -%>
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12">
    <form id="order_list_form" onsubmit="return false" method="get">
      <table class="table table-condensed" id="order_list">
        <thead>
          <tr>
            <th scope="col">
              Select All<br/>
              <%= check_box_tag :select_all if !defined?(orders) || (defined?(orders) && orders.size > 0) -%>
            </th>
            <th scope="col">Created On</th>
            <th scope="col">Store</th>
            <th scope="col">Deliver By</th>
            <th scope="col">Email Status</th>
          </tr>
          <tr class="toolbar">
            <td colspan="5" class="well well-sm" style="visibility: hidden">
              <input type="button" class="btn btn-primary" rel="div#email_order" id="a_email_order" value="Email Order"/>
              <input type="button" class="btn btn-danger" value="Delete" id="delete_orders"/>
            </td>    
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <%- if page > 1 || more_pages -%>
              <div class="row" style="margin-bottom: 1em">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group" role="group">      
                      <button 
                        class="btn btn-sm btn-default" 
                        type="button"
                        <%= page <= 1 ? 'disabled="disabled"'.html_safe : nil -%>
                        onclick="window.location = '<%= page > 1 ? orders_search_path(options_without_page.merge({page: page-1})) : nil -%>'">
                        <i class="fa fa-chevron-left"></i>
                        <span class="hidden-sm hidden-xs">Back</span>         
                      </button>
                      <button 
                        class="btn btn-sm btn-default" 
                        type="button"
                        <%= !more_pages ? 'disabled="disabled"'.html_safe : nil -%>
                        onclick="window.location = '<%= more_pages ? orders_search_path(options_without_page.merge({page: page+1})) : nil -%>'">
                        <span class="hidden-sm hidden-xs">Next</span>
                        <i class="fa fa-chevron-right"></i>         
                      </button>
                    </div>
                  </div>
                </div>    
              </div>
              <% end -%>
            </td>
          </tr>
        </tfoot>
        <tbody>
        <%- orders.each do |order| -%>
          <tr>
            <td><%= check_box_tag :order, order[:id] -%></td>
            <td><%= link_to order[:created_at].to_date.strftime("%b %d, %Y") , order_path(order[:id]), target: "_blank" -%></td>
            <td><%= order[:store][:full_name] -%></td>
            <td><%= order[:delivery_day_of_the_week]  -%></td>
            <td class="text-center">
              <%- if order[:email_sent] -%>
                <span class="label label-success">Sent</span>
              <%- end -%>
            </td>
          </tr>
        <%- end -%>
        </tbody>
      </table>
    </form>
    <div id="email_order">
      <form id="email_order_form" onsubmit="return false;" method="get">
        <div id="email_order-header">
          <h3>Email Order(s)</h3>
          <a class="modal_close modal_close_positioning btn btn-default" style="min-width: 1px" href="#"><i class="fa fa-1x fa-close"></i></a>
        </div>
        <div class="entry_row" style="display:none">
          <label for="email_addresses">Email Address(es)</label><br/>
                            <%= email_field_tag :email_addresses, ENV['order_email'], :multiple => true -%>
        </div>
        <div class="entry_row">
          <label for="email_body">Message</label> - <em>optional</em><br/>
          <%= text_area_tag :email_body, nil, :rows => 5, :cols => 65 -%>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-primary" id="send_email">Send</button>
          <button class="btn btn-default modal_close">Cancel</button>
        </div>
      </form> 
    </div>
  </div>
</div>

<%- content_for :head do -%>
  <%= stylesheet_link_tag :order_list -%>
<% end -%>
<%- content_for :page_js do -%>

<%= javascript_include_tag "jquery.leanModal.min.js" -%>
<%= javascript_include_tag :orders_list -%>
<script type="text/javascript">
  window.order_path = '<%= orders_path -%>';
  window.email_order_path = '<%= email_order_path -%>';
  window.orders_search_path = '<%= orders_search_path -%>';
  $( document ).ready( function(){
    OrderList.init();     
  });  
</script>

<% end -%>