<% content_for :body do -%>
<div class="toolbar">
	<a href="javascript:window.history.go(-1)">Back</a> | 
	<%= link_to "Edit", edit_order_path(@order) -%>
</div>
<div id="order_basics">
	<div class="entry_row">
		<div class="entry_label">
			<strong>Store</strong>
		</div>
		<div class="entry_value">
			<%= link_to @store[:name], store_path(@store) -%><br/>
			<%= @store.address -%>			
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Invoice
		</div>
		<div class="entry_value">
			<%= !@order[:invoice_number].blank? ? @order[:invoice_number] : raw("N/A") -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Route
		</div>
		<div class="entry_value">
			<%= !@order[:route_number].blank? ? @order[:route_number] : raw("N/A") -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Deliver By
		</div>
		<div class="entry_value">
			<%= !@order[:delivery_date].blank? ? @order[:delivery_date] : raw("N/A") -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Amount
		</div>
		<div class="entry_value">
			<%= number_to_currency(@order[:invoice_amount]) -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Status
		</div>
		<div class="entry_value">
			<%= @order[:fulfilled]? "Order fulfilled" : "Awaiting Delivery" -%>
		</div>
	</div>
</div>

<div id="product_listing">
	<table id="products" class="listing">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<% @order.organize_products_by_category.each do |product_category| -%>
			<tbody>
				<tr>
					<td colspan="2" class="category_heading"><%= product_category[:name] -%></td>
				</tr>
			
				<% product_category[:products].each do |product_order| -%>
				<tr>
					<td><%= product_order.product[:name] -%></td>
					<td><%= product_order[:quantity] -%></td>
				</tr>
				<%- end -%>
			</tbody>
		<%- end -%>
	</table>
</div>
<%- end -%>

<%- content_for :head do -%>
	<%= stylesheet_link_tag :forms -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">
		div#right_column, div#left_column { display:none}
		div#product_listing{
			border: 2px solid #ddd;
			margin-left: 31%;
			margin-right: 0;
			width: auto;
		}
		table#products {width:100%}
		table#products input[type=text] { text-align: right; width: 30px }
		div#order_basics{
			border: 2px solid #ddd;
			float:left;
			margin-left: 0;
			width: 30%;
		}

		div.buttons{
			background-color: #eee;
			border: 2px solid #ddd;
			display: block;
		}
		div.entry_row {background-color:transparent}
		div.entry_label, div.entry_value{
			display: block;
			float: none;
			margin: 0;
			width:auto
		}
		div.entry_label {border: 2px solid #ccc; border-left:none; border-right: none}
	</style>
<%- end -%>
