<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>Graeters Audit and Ordering Website</Author>
  <Version>1.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s63">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s64">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s65">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Arial" x:Family="Swiss" ss:Bold="1"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s66">
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
 </Styles>
 <Worksheet ss:Name="Order">
  <Table ss:DefaultRowHeight="15">
   <Column ss:AutoFitWidth="0" ss:Width="126"/>
   <Column ss:Index="3" ss:StyleID="s66" ss:AutoFitWidth="0" ss:Width="247.5"/>
   <Column ss:AutoFitWidth="0" ss:Width="105.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="138.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="73.5"/>
   <Column ss:AutoFitWidth="0" ss:Width="69"/>
   <Row ss:Height="12.75" ss:StyleID="s63">
    <Cell ss:StyleID="s64"><Data ss:Type="String">Customer</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">PO</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">Ship To</Data></Cell>
    <Cell ss:SordertyleID="s65"><Data ss:Type="String">Stock Code SKU</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">Description</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">Measure Unit</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">Quantity</Data></Cell>
   </Row>

	    <%- first_run = true 
		order.organize_products_by_category.each do |product_category| 
      	    -%>
	    <% product_category[:products].each do |product_order| -%>
		<ss:Row>
		<%- if first_run -%>
			<ss:Cell><ss:Data ss:Type="String"><%= order.store.company[:name] || 'Undefined' %></ss:Data></ss:Cell>
			<ss:Cell><ss:Data ss:Type="String"><%= order[:invoice_number] %></ss:Data></ss:Cell>
			<ss:Cell><ss:Data ss:Type="String"><%= order.store.address || 'Undefined' %></ss:Data></ss:Cell>
			<%- first_run = false -%>
		<%- else -%>
			<ss:Cell/>
			<ss:Cell/>
			<ss:Cell/>
		<%- end -%>
		<ss:Cell><ss:Data ss:Type="String"><%= product_order.product[:code] %></ss:Data></ss:Cell>
		<ss:Cell><ss:Data ss:Type="String"><%= product_order.product[:name] %></ss:Data></ss:Cell>
		<ss:Cell><ss:Data ss:Type="String"><%= product_order.volume_unit[:name] %></ss:Data></ss:Cell>
		<ss:Cell><ss:Data ss:Type="Number"><%= product_order[:quantity] %></ss:Data></ss:Cell>
	      </ss:Row>
	    <% end %>
    <% end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <Selected/>
   <Panes/>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>

