<% content_for :page_js do -%>
	<script type="text/javascript">	
		window.audit_search_path = '<%= audit_search_path -%>';
	</script>
<%- end -%>

<table id="audits" class="listing">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Score</th>
			<th scope="col">Auditor</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="3">
				<a href="#">More audits</a>
			</td>
		</tr>
	</tfoot>
	<tbody>
		<%- if defined?(audits) 
          audits.each do |audit| 
            row_class = cycle( 'regular', 'alternate' )
    -%>

				<tr class="<%= row_class %>">
					<td><%= audit[:created_at].strftime("%b %d, %Y") %></td>
					<td><%= audit[:score] %></td>
					<td><%= audit[:auditor] %></td>
				</tr>
				<%- if audit.comments -%>
        <tr class="<%= row_class %>">
					<td colspan="3" class="audit_comments"><strong>Comments:</strong> <%= audit.comments -%></td>
				</tr>
				<%- end -%>
			<%- end -%>
		<%- end -%>
	</tbody>
</table>
