<%-
	show_store ||= true

	more_pages = false unless defined?(more_pages)
	total_audits ||= 0
	page = (defined?(options) && options[:page].present? ? options[:page] : 1).to_i
	per_page = (options[:per_page] || 10).to_i

	audits_list = audits[:results]
	total_audits = audits[:total].to_i
	more_pages = audits[:more_pages]

	last_page = (total_audits/per_page) + (total_audits % per_page ? 1 : 0)

	if defined?(options)
		options_without_page = options.clone
		options_without_page.delete(:page)
	end

	# Determining sort link
	new_sort = "created_at-desc" # Default
	new_sort = "created_at-asc" if options[:sort].present? && options[:sort] == "created_at-desc"

	options_without_sort = options.reject{|k,v| k.to_s == 'sort'}

-%>
<%- if page > 1 || more_pages -%>
<div class="row" style="margin-bottom: 1em">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="btn-toolbar pull-right" role="toolbar">
			<div class="btn-group" role="group">			
				<button 
					class="btn btn-sm btn-default" 
					type="button"
					<%= page <= 1 ? 'disabled="disabled"'.html_safe : nil -%>
					onclick="window.location = '<%= audit_search_path(options_without_page.merge({page: 1})) -%>'">
					I<i class="fa fa-chevron-left"></i>
					<span class="hidden-sm hidden-xs">First</span>					
				</button>
				<button 
					class="btn btn-sm btn-default" 
					type="button"
					<%= page <= 1 ? 'disabled="disabled"'.html_safe : nil -%>
					onclick="window.location = '<%= audit_search_path(options_without_page.merge({page: page-1})) -%>'">
					<i class="fa fa-chevron-left"></i>
					<span class="hidden-sm hidden-xs">Back</span>					
				</button>
				<button 
					class="btn btn-sm btn-default" 
					type="button"
					<%= !more_pages ? 'disabled="disabled"'.html_safe : nil -%>
					onclick="window.location = '<%= audit_search_path(options_without_page.merge({page: page+1})) -%>'">
					<span class="hidden-sm hidden-xs">Next</span>
					<i class="fa fa-chevron-right"></i>					
				</button>
				<button 
					class="btn btn-sm btn-default" 
					type="button"
					<%= !more_pages ? 'disabled="disabled"'.html_safe : nil -%>
					onclick="window.location = '<%= audit_search_path(options_without_page.merge({page: last_page})) -%>'">
					<span class="hidden-sm hidden-xs">Last </span>
					<i class="fa fa-chevron-right"></i>I				
				</button>
			</div>
		</div>
	</div>		
</div>
<% end -%>
<%= form_tag audit_search_path, method: :get -%>
<%- options_without_page.reject{ |k,v| k.to_s.index("_") == 0 }.each do |k,v| -%>
<%- # HTML tags are used instead of hidden_field_tag so we can avoid the form helper from writing IDs that may coflict with other elements in the page -%>
	<input type="hidden" name="<%= k.to_s -%>" value="<%= v.to_s -%>" />
<% end -%>
<div class="table-responsive">
<table class="table table-condensed table-striped">
<%- if defined?(caption) -%>
	<caption class="h3"><%= caption -%></caption>
<% end -%>
	<thead>
		<tr>
			<td style="border-top: 2px solid #000;border-bottom: 2px solid #000;width: 2%"></td>
			<th scope="col" style="border-top: 2px solid #000;width: 15%">
				<%= link_to audit_search_path(options_without_sort.merge({sort: new_sort, page: 1})) do -%>
					Date <i class="fa fa-caret-<%= (!options[:sort].present? || options[:sort].index("-asc").nil? ? "down" : "up") %>"></i>
				<% end -%>

			</th>
			<th scope="col" style="border-top: 2px solid #000;width: 35%">
				Store
			</th>
			<th scope="col" class="hidden-xs" style="border-top: 2px solid #000;width: 20%">
				<%= select_tag :_auditor, options_for_select(audits[:aggs][:auditors].collect{ |p| p[:name]}, options[:_auditor]), prompt: "All Auditors", class: "form-control input-sm", onchange: "this.form.submit()" -%>
			</th>
			<th scope="col" style="border-top: 2px solid #000;width: 23%" class="text-center">
				<%= select_tag :_score_range, options_for_select(audits[:aggs][:score_ranges].collect{ |p| [p[:name], [p[:from], p[:to]]]}, options[:_score_range]), prompt: "All Scores", class: "form-control input-sm", onchange: "this.form.submit()" -%>
			</th>
		</tr>
	</thead>
	<%- if audits_list.size > 0 -%>
	<tfoot>
		<tr class="active">
			<td colspan="5" style="border-top:1px solid #ccc; padding: 0.7em">
				<ul class="list-unstyled list-inline">
					<li class="col-md-5 col-sm-12 col-xs-12">
						<i class="fa fa-warning text-danger"></i>
						- Audit has unresolved issues
					</li>
				</ul>
			</td>
		</tr>
	</tfoot>
	<tbody>	
	<%- audits_list.each do |audit| -%>
	<%-
		# This is done to accomodate for search from either the 
		# database or from ES
		audit_store = audit[:store] || audit.store
	-%>
		<tr>
			<td>
				<%- if audit.images.size > 0  -%>
				<a href="<%= audit.images.first[:content_url] -%>" class="fancybox-thumb" rel="fancybox-thumb">
					<i class="fa fa-sm fa-camera"></i>
				</a>
				<%- end -%>
			</td>
			<td><%= audit[:created_at].to_date.strftime("%b %d" + (audit[:created_at].to_date.year != Date.today.year ? ", %Y" : "")) -%></td>
			<td>
				<%= link_to audit_store.full_name, audit_path( audit[:id] ) -%>
				<%- if audit.comments.size > 0  -%>
					<br/><strong>Comments:</strong> <%= audit.comments.first[:content] -%>
				<%- end -%>
			</td>
			<td class="hidden-xs"><%= audit[:auditor_name] -%></td>
			<td class="text-center">
				<%= audit.score[:total]-%>
				<%- if audit[:has_unresolved_issues] -%>
					<i class="fa fa-warning text-danger" title="This audit has some unresolved issues"></i>
				<% end -%>
			</td>
		</tr>
	<% end -%>
	<%- else -%>
		<tr>
			<td colspan="5" class="text-center">
				<p><em>
					<%= defined?(message_noRecords) ? message_noRecords : "No audits found" -%>
				</em></p>
			</td>
		</tr>
	<%- end -%>
	</tbody>
</table>
</div>
</form>
<%- content_for :head do -%>
	<%= stylesheet_link_tag "jquery.fancybox.css" -%>
<%- end -%>

<%- content_for :page_js do -%>
	<%= javascript_include_tag "jquery.fancybox.js" -%>
	<script type="text/javascript">

	$(document).ready(function() {
		$(".fancybox-thumb").fancybox({
			prevEffect	: 'none',
			nextEffect	: 'none',
			helpers	: {
				title	: {
					type: 'outside'
				},
				thumbs	: {
					width	: 50,
					height	: 50
				}
			}
		});
	});
	</script>

<%- end -%>