<%-
	show_store ||= true

	audits_list = []
	more_pages ||= false
	total_audits ||= 0
	page = (defined?(options) && options[:page].present? ? options[:page] : 1).to_i

	if audits.is_a?(ActiveRecord::Base) || audits.is_a?(ActiveRecord::Relation)
		audits_list = audits
		total_audits = audits.size
	else
		audits_list = audits[:results]
		total_audits = audits[:total]
		more_pages = audits[:more_pages]
	end

	if defined?(options)
		options_without_page = options.clone
		options_without_page.delete(:page)
	end
-%>
<%- if page > 1 || more_pages -%>
<div class="row" style="margin-bottom: 1em">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="btn-toolbar pull-right" role="toolbar">
			<div class="btn-group" role="group">			
				<button 
					class="btn btn-sm btn-default" 
					type="button"
					<%= page <= 1 ? 'disabled="disabled"'.html_safe : nil -%>
					<%= page > 1 ? 'onclick="window.location = "' + audit_search_path(options_without_page.merge({page: page-1})) +'"'.html_safe : nil -%>>
					<i class="fa fa-chevron-left"></i>
					<span class="hidden-sm hidden-xs">Back</span>					
				</button>
				<button 
					class="btn btn-sm btn-default" 
					type="button"
					<%= !more_pages ? 'disabled="disabled"'.html_safe : nil -%>
					<%= more_pages ? 'onclick="window.location = "' + audit_search_path(options_without_page.merge({page: page+1})) +'"'.html_safe : nil -%>>
					<span class="hidden-sm hidden-xs">Next</span>
					<i class="fa fa-chevron-right"></i>					
				</button>
			</div>
		</div>
	</div>		
</div>
<% end -%>
<div class="table-responsive">
<table class="table table-condensed table-striped">
<%- if defined?(caption) -%>
	<caption class="h3"><%= caption -%></caption>
<% end -%>
	<thead>
		<tr>
			<th scope="col" style="width: 10%"><span style="visibility: hidden">Options</span></th>
			<th scope="col" style="width: 10%">
				Date
			</th>
			<th scope="col" style="width: 35%">Store</th>
			<th scope="col">Auditor</th>
			<th scope="col" style="width: 10%" class="text-center">Score</th>
		</tr>
	</thead>
	<tbody>
	<%- if audits_list.size > 0 -%>
	<%- audits_list.each do |audit| -%>
	<%-
		# This is done to accomodate for search from either the 
		# database or from ES
		audit_store = audit[:store] || audit.store

		# row_class - is used to add a visual clue for audits with unresolved issues
		row_class = (audit[:has_unresolved_issues] ? 'class="danger"' : "")
	-%>
		<tr <%= row_class.html_safe -%>>
			<td>
				<ul class="list-unstyled list-inline">
					<li>
						<%= link_to audit_path(audit[:id]), title: "View"  do -%>
							<i class="fa fa-folder-open"></i>
						<% end -%>
					</li>
					<%- if audit.images.size > 0 -%>
					<li>
						<i class="fa fa-file-image-o"></i>
					</li>
					<% end -%>
					<%- if audit.comments.size > 0 -%>
					<li>
						<i class="fa fa-comment"></i>
					</li>
					<% end -%>

				</ul>				
			</td>
			<td><%= audit[:created_at].to_date.strftime("%b %d" + (audit[:created_at].to_date.year != Date.today.year ? ", %Y" : "")) -%></td>
			<td><%= link_to audit_store.full_name, store_path( audit_store[:id] ) -%></td>
			<td><%= audit[:auditor_name] -%></td>
			<td class="text-center"><%= audit.score[:total]-%></td>
		</tr>
	<% end -%>
	<%- else -%>
		<tr>
			<td colspan="5" class="text-center">
				<p><em>
					<%= defined?(message_noRecords) ? message_noRecords : "No audits found" -%>
				</em></p>
			</td>
		</tr>
	<%- end -%>
	</tbody>
</table>
</div>
