<%- content_for :head do -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">	
		div.entry_row {
			background-color:transparent
			border: none;
			margin: 0;
			padding: 0
		}
		div.entry_label, div.entry_value{
			display: block;
			float: none;
			margin: 0;
			padding: 0.3em 0.5em;
			width:auto
		}
		div.entry_label {
			background-color: #5f6b61;
			border: 2px solid #ccc; 
			border-left:none; 
			border-right: none;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase
		}
		div.entry_row { margin-bottom: 1em }
		table.listing td { vertical-align: top}
		table.listing td + td { 
			border-left: 2px solid #AAA;
			text-align: center;
			width: 20% 
		}
		table.listing tr.category_heading td[colspan] { 
			background-color: #FAEBD7;
			border-bottom: 2px solid #CCC;
			border-top: 2px solid #CCC;
			font-weight: bold;
			letter-spacing: 1.5px; 
			text-align: left;
			text-transform: uppercase
		}

		table.listing span.pass, table.listing span.fail { 
			background-position: center center;
			background-repeat: no-repeat;
			display: block;
			min-height: 30px;
			min-width: 30px;
		}
		table.listing span.pass span, table.listing span.fail span { visibility: hidden }
		span.pass { background-image: url( <%= image_path( "check_30x30.png" ) -%> ) }
		span.fail { background-image: url( <%= image_path( "caution_30x30.png" ) -%> ) }
		div#left_column, div#right_column{
			border: 3px solid #ddd;
			padding: 0.4em;
		}
		div#left_column{
			border: none;
			margin-left:0;
			width:250px;
		}
		div#right_column{
			float:right;
			margin-right: 0;
			width: 720px;
		}
		a.toggle_button {
			background-color: #EEE;
			border: 2px solid #CCC;
			cursor: pointer;
			display: inline-block;
			padding: 0.3em;
			text-align: center;
			text-transform: uppercase;
			width: 4em;
		}
		a.toggle_button:hover, a.selected_yes, a.selected_no { 
			color: #FFF;
			font-weight: bold;
		}
		a.button_yes:hover, a.selected_yes {
			background-color: Green;
		}
		a.button_no:hover, a.selected_no {
			background-color: Red;
		}
		input.resolved_at {display: none}
	</style>
<%- end -%>	

<%- content_for :page_js do -%>
	<script type="text/javascript">
		function toggle_yes(){
			var button_object = $( arguments[0] );
			var selected_class = arguments[1];
			
			if( $(button_object).next().next('a').attr("class").indexOf("selected") > 0 ){
				$(button_object).next().next("a").trigger('click');
			}
			
			if( $(button_object).attr("class").indexOf('selected') < 0 ){
				$(button_object).addClass(selected_class);
				$( "div input.score",$(button_object).parent()).first().val( $(button_object).data('value'));
				if( parseInt($(button_object).data('value')) < 0 )
					$(button_object).parent().find(".resolved_at").show();
			}else{
				$(button_object).removeClass(selected_class);
				$( "div input.score",$(button_object).parent()).first().val( "" );
				$(button_object).parent().find(".resolved_at").hide();
			}

			compute_score();
		}

		function toggle_no(){
			var button_object = $( arguments[0] );
			var selected_class = arguments[1];
			if( $(button_object).prev().prev('a').attr("class").indexOf("selected") > 0 ){
				$(button_object).prev().prev("a").trigger('click');
			}		
			
			if( $(button_object).attr("class").indexOf('selected') < 0 ){
				$(button_object).addClass(selected_class);
				$( "div input.score",$(button_object).parent()).first().val( $(button_object).data('value'));
				if( parseInt($(button_object).data('value')) < 0 )
					$(button_object).parent().find(".resolved_at").show();
			}else{
				$(button_object).removeClass(selected_class);
				$( "div input.score",$(button_object).parent()).first().val( "" );
				$(button_object).parent().find(".resolved_at").hide();
			}

			compute_score();
		}
	
		function compute_score(){
			var total_score = 25;

			scores.each( function() {
				if( $(this).val() != '' )
				total_score += parseInt( $(this).val() );
			});

			$("span#audit_score").text( total_score );
		}
		var scores = $( "input.include-in-final-score" );
	</script>
<%- end -%>
	
<%= form_for @audit, :url => audits_path do |f| -%>
<div style="display:none">
	<%= f.hidden_field :store_id, :value => @audit[:store_id] -%>
	<%= f.hidden_field :score, :value => '0' -%>
</div>
<div class="toolbar">
	<%= f.submit "Save" -%>
</div>
<div id="right_column">

	<table class="listing" id="store_metrics">
		<thead>
			<tr>
				<th scope="col">Description</th>
				<th scope="col">Score</th>
			</tr>
		</thead>
		<tbody>

		<%-
			last_category = nil 
			@metrics.each do |metric|
				if last_category != metric[:category].strip
					last_category = metric[:category].strip 
		-%>
			<tr class="category_heading">
				<td colspan="2"><%= metric[:category] -%></td>
			</tr>
			<%-end-%>
			<tr class="<%= cycle('regular','alternate') -%>">
				<td><%= metric[:title] -%>
					<blockquote><%= metric[:description] -%></blockquote>
				</td>
				<td>
				<%= f.fields_for :store_metrics do |sp| -%>
					<a id="a<%=metric[:id]%>_yes" onclick="toggle_yes(this, 'selected_no')" data-value="<%= metric[:points] * metric[:quantifier] %>" style="text-decoration: none" class="toggle_button button_no">Yes</a><br/>
					<a id="a<%=metric[:id]%>_no" onclick="toggle_no(this, 'selected_yes')" data-value="0" class="toggle_button button_yes" style="text-decoration:none">No</a>
					<%= sp.text_field :resolved_at, :type => 'date', :class => 'resolved_at' -%>
					<div style="display: none">
						<%- if metric[:include] == 1 -%>
					  	<%= sp.hidden_field :point_value, :class => 'include-in-final-score score' -%>
						<%- else -%>
					  	<%= sp.hidden_field :point_value, :class => 'score' -%>
						<%- end -%>
						<%= sp.hidden_field :metric_id, :value => metric[:id] -%>
					</div>
				<%- end -%>
				</td>
			</tr>
		<%- end -%>
		</tbody>
	</table>

</div>
<div id="left_column">
	<h2>Audit Overview</h2>
	<div class="entry_row">
		<div class="entry_label">
			Auditor
		</div>
		<div class="entry_value">
			<%= f.text_field :auditor_name, :autofocus => true, :tabindex => 1 -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Comments	
		</div>
		<div class="entry_value">
			<%= f.text_area :comments, :cols => 30 -%>	
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Score
		</div>
		<div class="entry_value">
			<span id="audit_score">25</span>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Score Legend
		</div>
		<div class="entry_value">
			<dl>
				<dt>25+</dt>
				<dd>Store Conditions Meet/Exceed All Graeter's Standards</dd
				<dt>23 - 24</dt>
				<dd>Most Store Conditions Met Graeter's Standards</dd>
				<dt>20 - 22</dt>
				<dd>Some Graeter's Store Conditions Met - Others Require Attention</dd>
				<dt>0 - 19</dt>
				<dd>Many Store Conditions Found Unacceptable vs. Graeter's Standards. Immediate Attention Required</dd>
			</dl>
		</div>
	</div>
</div>
<div class="spacer"></div>

<%- end -%>

