<%= form_for audit do |f| -%>
<div class="container">
	<div class="row">	
		<div class="col-md-3 col-sm-12 col-xs-12">
		<%= f.fields_for :store do |sf| -%>
			<%= sf.object.full_name -%>
			<address><%= sf.object.address -%></address>
			<%= sf.label :store_number -%>
			<%= sf.text_field :store_number, class: "input-sm" -%>
		<%- end -%>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12">
				<%- metrics.each_with_index do |m,i| -%>
					<%= f.fields_for :audit_metrics, f.object.audit_metrics.build do |am| -%>				
						<div class="row" data-ng-controller="AuditMetricEntry">
							<div style="display:none">
								<%= am.hidden_field :metric_id, {value: m[:id]} -%>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<p data-ng-mode>
									<%= m[:title] -%>
									<blockquote>
										<%= m[:description] -%>
									</blockquote>
								</p>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12">
								<%- if m[:template].present? -%>
									<%= render m[:template], locals: {f: am, metric: m} -%>
								<%- else -%>
									<span class="col-md-6 col-sm-6 col-xs-12">
										<label class="radio-inline">
											<%= am.radio_button :points, m[:points], data: { "ng-click" => "points = #{m[:points]}"} -%>Yes</label>
									</span>
									<span class="col-md-6 col-sm-6 col-xs-12">
										<label class="radio-inline">
											<%= am.radio_button :points, "0", data: { "ng-click" => "points = 0"} -%>No</label>
									</span>
								<%- end -%>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12">
								<span>{{points}}</span>
							</div>
						</div>
					<%- end -%>
				<%- end -%>
			</div>
		</div>
	</div>
</div>
<%- end -%>

<%- content_for :head do -%>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<%- end -%>

<%- content_for :page_js do -%>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js", :cache => true -%>
<%= javascript_include_tag "ui-bootstrap-0.12.0.min.js", :cache => true -%>

<script type="text/javascript">
	angular.module('GAS', ['ui.bootstrap'])
	.controller('AuditMetricEntry',function($scope) {
		$scope.points = 0;
	});
</script>
	
<%- end -%>