<%= form_for audit do |f| -%>
<div class="container">
	<div class="row">	
		<div class="col-md-3 col-sm-12 col-xs-12">
		<%= f.fields_for :store do |sf| -%>
			<%= sf.object.full_name -%>
			<address><%= sf.object.address -%></address>
			<%= sf.label :store_number -%>
			<%= sf.text_field :store_number -%>
		<%- end -%>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="container">
				<%- metrics.each_with_index do |m, i| -%>
					<%= f.fields_for :audit_metrics, f.object.audit_metrics do |am| -%>				
						<div class="row">
							<div style="display:none"><%= am.hidden_field :metric_id, {value: m[0]} -%></div>
							<div class="col-md-9 col-sm-12 col-xs-12">
								<p>
									<%= m[1] -%>
									<blockquote>
										<%= m[2] -%>
									</blockquote>
								</p>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12"></div>
						</div>
					<%- end -%>
				<%- end -%>
			</div>
		</div>
	</div>
</div>
<%- end -%>