<%- content_for :head do -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">	
		div.entry_row {
			background-color:transparent
			border: none;
			margin: 0;
			padding: 0
		}
		div.entry_label, div.entry_value{
			display: block;
			float: none;
			margin: 0;
			padding: 0.3em 0.5em;
			width:auto
		}
		div.entry_label {
			background-color: #5f6b61;
			border: 2px solid #ccc; 
			border-left:none; 
			border-right: none;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase
		}
		div.entry_row { margin-bottom: 1em }
		table.listing td { vertical-align: top}
		table.listing td + td { 
			border-left: 2px solid #AAA;
			text-align: center;
			width: 20% 
		}
		table.listing tr.category_heading td[colspan] { 
			background-color: #FAEBD7;
			border-bottom: 2px solid #CCC;
			border-top: 2px solid #CCC;
			font-weight: bold;
			letter-spacing: 1.5px; 
			text-align: left;
			text-transform: uppercase
		}

		table.listing span.pass, table.listing span.fail { 
			background-position: center center;
			background-repeat: no-repeat;
			display: block;
			min-height: 30px;
			min-width: 30px;
		}
		table.listing span.pass span, table.listing span.fail span { visibility: hidden }
		span.pass { background-image: url( <%= image_path( "check_30x30.png" ) -%> ) }
		span.fail { background-image: url( <%= image_path( "caution_30x30.png" ) -%> ) }
		div#left_column, div#right_column{
			border: 3px solid #ddd;
			padding: 0.4em;
		}
		div#left_column{
			border: none;
			margin-left:0;
			width:250px;
		}
		div#right_column{
			float:right;
			margin-right: 0;
			width: 720px;
		}
		a.toggle_button {
			background-color: #EEE;
			border: 2px solid #CCC;
			cursor: pointer;
			display: inline-block;
			padding: 0.3em;
			text-align: center;
			text-transform: uppercase;
			width: 4em;
		}
		a.toggle_button:hover { 
			color: #FFF;
			font-weight: bold;
		}
		a.button_yes:hover {
			background-color: Green;
		}
		a.button_no:hover {
			background-color: Red;
		}
	</style>
<%- end -%>	

<%- content_for :page_js do -%>
	<script type="text/javascript">
		function toggle_yes(){}

		function toggle_no(){}
	</script>
<%- end -%>
	
<%= form_for @audit, :url => audits_path do |f| -%>
<div style="display:none">
	<%= f.hidden_field :store_id, :value => @audit[:store_id] -%>
	<%= f.hidden_field :score, :value => '0' -%>
</div>
<div class="toolbar">
	<%= f.submit "Save" -%>
</div>
<div id="right_column">

	<table class="listing" id="store_metrics">
		<thead>
			<tr>
				<th scope="col">Description</th>
				<th scope="col">Score</th>
			</tr>
		</thead>
		<tbody>

		<%-
			last_category = nil 
			@metrics.each do |metric|
				if last_category != metric[:category].strip
					last_category = metric[:category].strip 
		-%>
			<tr class="category_heading">
				<td colspan="2"><%= metric[:category] -%></td>
			</tr>
			<%-end-%>
			<tr class="<%= cycle('regular','alternate') -%>">
				<td><%= metric[:title] -%>
					<blockquote><%= metric[:description] -%></blockquote>
				</td>
				<td>
				<%= f.fields_for :store_metrics do |sp| -%>
					<a onclick="toggle_yes(0)" style="text-decoration: none" class="toggle_button button_yes">Yes</a><br/>
					<a onclick="toggle_no(-1)" class="toggle_button button_no" style="text-decoration:none">No</a>
					<%= sp.text_field :resolved_at, :type => 'date' -%>
					<div style="display:none">
						<%- if metric[:include] == 1 -%>
					  	<%= sp.hidden_field :point_value, :class => 'include-in-final-score' -%>
						<%- else -%>
					  	<%= sp.hidden_field :point_value -%>
						<%- end -%>
						<%= sp.hidden_field :metric_id, :value => metric[:id] -%>
					</div>
				<%- end -%>
				</td>
			</tr>
		<%- end -%>
		</tbody>
	</table>

</div>
<div id="left_column">
	<h2>Audit Overview</h2>
	<div class="entry_row">
		<div class="entry_label">
			Auditor
		</div>
		<div class="entry_value">
			<%= f.text_field :auditor_name, :autofocus => true, :tabindex => 1 -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Score
		</div>
		<div class="entry_value">
			<span id="audit_score">0</span>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Score Legend
		</div>
		<div class="entry_value">
			<dl>
				<dt>Score</dt>
				<dd>Something</dd
				<dt>23</dt>
				<dd>Twenty three</dd>
			</dl>
		</div>
	</div>
</div>
<div class="spacer"></div>

<%- end -%>

