<%= form_for audit do |f| -%>
<div class="container" data-ng-app="GAS">
	<div class="row">	
		<div class="col-md-3 col-sm-12 col-xs-12">
		<%= f.fields_for :store do |sf| -%>
			<%= sf.object.full_name -%>
			<address><%= sf.object.address -%></address>
			<%= sf.label :store_number -%>
			<%= sf.text_field :store_number, class: "input-sm" -%>
		<%- end -%>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12">
				<%- metrics.each_with_index do |m,i| -%>
					<%= f.fields_for :audit_metrics, f.object.audit_metrics.build do |am| -%>				
						<div class="row" data-ng-model="metric">
							<div style="display:none">
								<%= am.hidden_field :metric_id, {value: m[:id]} -%>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<p>
									<%= m[:title] -%>
									<%- if ! m[:description].blank? -%>
									<blockquote>
										<%= m[:description] -%>
									</blockquote>
									<%- end -%>
								</p>
							</div>
							<%- if m[:free_form_response] -%>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<%= am.text_area :comment -%>
								</div>
							<%- else -%>
								<div class="col-md-3 col-sm-12 col-xs-12">
									<div class="container">
										<div class="row">									
											<%- case m[:response_type] -%>
											<%-	when 'radio' -%>
												<%= am.fields_for :audit_metric_response, am.object.audit_metric_responses.build do |amr| -%>
													<%- m.metric_options.sort{|i| i[:display_order]}.each do |mo| -%>
														<label>
															<%= amr.radio_button :selected, mo[:base_score_value] + mo[:loss_score_value] + mo[:bonus_score_value] -%>
															<%= mo[:label] -%>
														</label>
													<%- end -%>
												<%- end -%>	
											<%- when 'text' -%>
												<%= am.fields_for :audit_metric_response, am.object.audit_metric_responses.build do |amr| -%>
													<%- m.metric_options.sort{|i| i[:display_order]}.each do |mo| -%>
														<label>
															<%= amr.text_field :entry_value -%>
															<%= mo[:label] -%>
														</label>
													<%- end -%>
												<%- end -%>
											<%- end -%>
										</div>
									</div>
								</div>
								<%- if m[:include] && m[:group_score_with].nil? -%>
								<div class="col-md-3 col-sm-12 col-xs-12">
									<span data-ng-model="score"></span>
									<%= am.hidden_field :bonus -%>
									<%= am.hidden_field :loss -%>
									<%= am.hidden_field :base -%>
								</div>
								<%- end -%>
							<%- end -%>
						</div>
					<%- end -%>
				<%- end -%>
			</div>
		</div>
	</div>
</div>
<%- end -%>

<%- content_for :head do -%>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<%- end -%>

<%- content_for :page_js do -%>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js", :cache => true -%>
<%= javascript_include_tag "ui-bootstrap-0.12.0.min.js", :cache => true -%>

<script type="text/javascript">
	angular.module('GAS', ['ui.bootstrap'])
	.controller('AuditMetricEntry',function($scope) {
		$scope.points = 0;
	});
</script>
	
<%- end -%>