<%-
	sanitized_options_with_sort = options.clone
	[:page, :per_page].each { |key| sanitized_options_with_sort.delete(key)}

	sanitized_options = sanitized_options_with_sort.clone
	sanitized_options.delete(:sort)
-%>
<div class="row">
	<div class="col-md-9 col-md-push-3 col-sm-9 col-sm-push-3 col-xs-12">
			<%= render partial: 'search_listing', locals: {audits: audits, options: sanitized_options_with_sort } -%>		
	</div>

	<div class="col-md-pull-9 col-md-3 col-sm-pull-9 col-sm-3 col-xs-12 well well-sm">
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h3 class="h3">Find Audits</h3>
				<%-
					options_for_url = sanitized_options.clone
					[:start_date, :end_date, :_auditor, :_score_range, :page, :page_size].each {|key| options_for_url.delete(key)}

					# link_to_if compares against this Hash to determine which 
					# search option was selected
					date_from_search_scope = { \
						start_date: ( sanitized_options[:start_date].nil? ? nil: sanitized_options[:start_date].to_date), \
						end_date: ( sanitized_options[:end_date].nil? ? nil: sanitized_options[:end_date].to_date) \
					}
					date_range_all = {start_date: nil, end_date: nil}
					date_range_yesterday = {start_date: 1.day.ago.to_date, end_date: 1.day.ago.to_date}
					date_range_this_week = {start_date: Date.today.at_beginning_of_week.to_date.to_date, end_date: Date.today.at_end_of_week.to_date}
					date_range_last_week = {start_date: 1.week.ago.at_beginning_of_week.to_date, end_date: 1.week.ago.at_end_of_week.to_date}
					date_range_today = {start_date: Date.today.to_date, end_date: Date.today.to_date}
					date_range_this_month = {start_date: Date.today.at_beginning_of_month.to_date, end_date: Date.today.at_end_of_month.to_date}
					date_range_last_month = {start_date: 1.month.ago.at_beginning_of_month.to_date, end_date: 1.month.ago.at_end_of_month.to_date}
				-%>
				<ul class="list-unstyled" style="padding-left: 0.7em">
					<li>
						<%= link_to_unless date_from_search_scope == date_range_all, "All Audits", audit_search_path(options_for_url) -%>
						
					</li>
					<li>
						<%= link_to_unless date_from_search_scope == date_range_today, "Today", audit_search_path( date_range_today.merge(options_for_url)) -%>
						
					</li>
					<li>
						<%= link_to_unless date_from_search_scope == date_range_yesterday, "Yesterday", audit_search_path(date_range_yesterday.merge(options_for_url)) -%>
					</li>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_this_week, "This week", audit_search_path( date_range_this_week.merge(options_for_url)) -%>
					</li>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_last_week, "Last week", audit_search_path( date_range_last_week.merge(options_for_url)) -%>
					</li>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_this_month, "This month", audit_search_path( date_range_this_month.merge(options_for_url)) -%>
					</li>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_last_month, "Last month", audit_search_path( date_range_last_month.merge(options_for_url)) -%>
					</li>
				</ul>
				<div>
					<strong>Select dates:</strong> <br/>
					<form method="GET" action="<%= audit_search_path -%>">
						<div class="form-group">
							<label for="start_date">From</label>
							<div class="input-group date">
							  <input type="text" id="start_date" name="start_date" class="form-control date-picker input-sm" value="<%= options[:start_date].to_date.strftime("%m/%d/%Y") if options[:start_date].present?-%>"><span class="input-group-addon input-sm"><i class="fa fa-calendar"></i></span>
							</div>
							
						</div>
						<div class="form-group">
							<label for="end_date">To</label>
							<div class="input-group date">
							  <input type="text" id="end_date" name="end_date" class="form-control date-picker input-sm" value="<%= options[:end_date].to_date.strftime("%m/%d/%Y") if options[:end_date].present?-%>"><span class="input-group-addon input-sm"><i class="fa fa-calendar"></i></span>
							</div>						
						</div>
						
						<div class="form-group">
							<div class="input-group">
							<span class="input-group-addon input-sm"><input type="checkbox" id="has_issues" name="has_issues"  <%= "checked=\"checked\"".html_safe if options[:has_issues].present? && options[:has_issues] -%>/></span>
							  <label for="has_issues" class="form-control">Audits with issues</label>
							</div>
						</div>
						<div class="form-buttons">
							<button class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>			
			</div>
		</div>
	</div>
</div>

<%- content_for :page_js do -%>
	<%= javascript_include_tag "bootstrap-datepicker.js" -%>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.input-group.date')
			       .datepicker({
			       		format: 'mm/dd/yyyy',
					    todayBtn: "linked",
					    clearBtn: true,
					    autoclose: true,
					    todayHighlight: true
					});
		})
	</script>
<% end -%>