<%-
	sanitized_options = options.clone
	[:page, :per_page, :sort].each { |key| sanitized_options.delete(key)}
-%>
<div class="row">
	<div class="col-md-10 col-md-push-2 col-sm-9 col-sm-push-3 col-xs-12">
		<form method="GET" action="<%= audit_search_path -%>">
		<div style="display:none">
			<%= hidden_field_tag :start_date, options[:start_date] -%>
			<%= hidden_field_tag :end_date, options[:end_date] -%>
		</div>
		<div class="row well well-sm">
<!-- 			<div class="col-md-3 col-sm-12 col-xs-12">
				<%= select_tag :_state, options_for_select(audits[:aggs][:states].collect{ |p| [p[:state_name], p[:state_code]]}, options[:_state]), prompt: ( options[:_state].blank? ? "Refine by State" : "Clear State Selection"), class: "form-control" -%>
				
			</div> -->
			<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
				<%= select_tag :_auditor, options_for_select(audits[:aggs][:auditors].collect{ |p| p[:name]}, options[:_auditor]), prompt: ( options[:_auditor].blank? ? "Refine by Auditor" : "Clear Auditor Selection"), class: "form-control" -%>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<%= select_tag :_score_range, options_for_select(audits[:aggs][:score_ranges].collect{ |p| [p[:name], [p[:from], p[:to]]]}, options[:_score_range]), prompt: ( options[:_score_range].blank? ? "Refine by Score" : "Clear Score Selection"), class: "form-control" -%>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12 form-buttons text-center">
				<button class="btn btn-default">Refine Results</button>
			</div>
		</div>
		</form>
		<div class="row">
			<%= render partial: 'verbose_listing', locals: {audits: audits, options: options, } -%>
		</div>		
	</div>

	<div class="col-md-pull-10 col-md-2 col-sm-pull-9 col-sm-3 col-xs-12 well well-sm">
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h3 class="h3">Find Audits</h3>
				<%-
					options_for_url = sanitized_options.clone
					[:start_date, :end_date].each {|key| options_for_url.delete(key)}

					# link_to_if compares against this Hash to determine which 
					# search option was selected
					date_from_search_scope = { \
						start_date: ( sanitized_options[:start_date].nil? ? nil: sanitized_options[:start_date].to_date), \
						end_date: ( sanitized_options[:end_date].nil? ? nil: sanitized_options[:end_date].to_date) \
					}
					date_range_all = {start_date: nil, end_date: nil}
					date_range_yesterday = {start_date: 1.day.ago.to_date, end_date: 1.day.ago.to_date}
					date_range_this_week = {start_date: Date.today.at_beginning_of_week, end_date: Date.today}
					date_range_today = {start_date: Date.today, end_date: Date.today}
					date_range_this_month = {start_date: Date.today.at_beginning_of_month, end_date: Date.today}
				-%>
				<ul class="list-unstyled" style="padding-left: 0.7em">
					<li>
						<%= link_to_unless date_from_search_scope == date_range_all, "All Audits", audit_search_path -%>
						
					</li>
					<li>
						<%= link_to_unless date_from_search_scope == date_range_today, "Today", audit_search_path( date_range_today) -%>
						
					</li>
					<li>
						<%= link_to_unless date_from_search_scope == date_range_yesterday, "Yesterday", audit_search_path(date_range_yesterday) -%>
					</li>
					<%- if Date.today.wday > 2 -%>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_this_week, "This week", audit_search_path( date_range_this_week) -%>
					</li>
					<% end -%>
					<%- if Date.today.day > 7 -%>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_this_month, "This month", audit_search_path( date_range_this_month) -%>
					</li>
					<% end -%>
				</ul>
				<div>
					<strong>Select dates:</strong> <br/>
					<form method="GET" action="<%= audit_search_path -%>">
						<div class="form-group">
							<label for="start_date">From</label>
							<div class="input-group date">
							  <input type="text" id="start_date" name="start_date" class="form-control date-picker" value="<%= options[:start_date].to_date.strftime("%m/%d/%Y") if options[:end_date].present?-%>"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							
						</div>
						<div class="form-group">
							<label for="end_date">To</label>
							<div class="input-group date">
							  <input type="text" id="end_date" name="end_date" class="form-control date-picker" value="<%= options[:end_date].to_date.strftime("%m/%d/%Y") if options[:end_date].present?-%>"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							
							
						</div>
						<div class="form-buttons">
							<button class="btn-primary">Find Audits</button>
						</div>
					</form>
				</div>			
			</div>
		</div>
	</div>
</div>

<%- content_for :page_js do -%>
	<%= javascript_include_tag "bootstrap-datepicker.js" -%>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.input-group.date')
			       .datepicker({
			       		format: 'mm/dd/yyyy',
					    todayBtn: "linked",
					    clearBtn: true,
					    autoclose: true,
					    todayHighlight: true
					});
		})
	</script>
<% end -%>