<div class="row">

	<div class="col-md-10 col-md-push-2 col-sm-12 col-xs-12 table-responsive">
		<%= render partial: 'verbose_listing', locals: {audits: audits} -%>
	</div>

	<div class="col-md-pull-10 col-md-2 col-sm-12 col-xs-12">
		<h2 class="h3">Filtering Options</h2>
		<div class="row">
			<div class="col-md-12 col-sm-3 col-xs-12">
				<h3 class="h4">By Date</h3>
				<%-
					options_for_url = options.clone
					[:page, :per_page, :sort, :start_date, :end_date].each {|key| options_for_url.delete(key)}

					date_from_search_scope = { \
						start_date: ( options[:start_date].nil? ? nil: options[:start_date].to_date), \
						end_date: ( options[:end_date].nil? ? nil: options[:end_date].to_date) \
					}
					date_range_all = {start_date: nil, end_date: nil}
					date_range_yesterday = {start_date: 1.day.ago.to_date, end_date: 1.day.ago.to_date}
					date_range_this_week = {start_date: Date.today.at_beginning_of_week, end_date: Date.today}
					date_range_today = {start_date: Date.today, end_date: Date.today}
					date_range_this_month = {start_date: Date.today.at_beginning_of_month, end_date: Date.today}
				-%>
				<ul class="list-unstyled">
					<li>
						<%= link_to_unless date_from_search_scope == date_range_all, "All Audits", audit_search_path(options_for_url) -%>
						
					</li>
					<li>
						<%= link_to_unless date_from_search_scope == date_range_today, "Today", audit_search_path( options_for_url.merge(date_range_today)) -%>
						
					</li>
					<li>
						<%= link_to_unless date_from_search_scope == date_range_yesterday, "Yesterday", audit_search_path( options_for_url.merge(date_range_yesterday)) -%>
					</li>
					<%- if Date.today.wday > 2 -%>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_this_week, "This week", audit_search_path( options_for_url.merge(date_range_this_week)) -%>
					</li>
					<% end -%>
					<%- if Date.today.day > 7 -%>
					<li>
						
						<%= link_to_unless date_from_search_scope == date_range_this_month, "This month", audit_search_path( options_for_url.merge(date_range_this_month)) -%>
					</li>
					<% end -%>
				</ul>			
			</div>
			<div class="col-md-12 col-sm-3 col-xs-12">
				<h3 class="h4">By Auditor</h3>
			</div>
			<div class="col-md-12 col-sm-3 col-xs-12">
				<h3 class="h4">By State</h3>
			</div>
		</div>
	</div>
</div>