<%- content_for :head do -%>
	<%= stylesheet_link_tag :table -%>
	<style type="text/css" media="screen">	
		div.entry_row {
			background-color:transparent
			border: none;
			margin: 0;
			padding: 0
		}
		div.entry_label, div.entry_value{
			display: block;
			float: none;
			margin: 0;
			padding: 0.3em 0.5em;
			width:auto
		}
		div.entry_label {
			background-color: #5f6b61;
			border: 2px solid #ccc; 
			border-left:none; 
			border-right: none;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase
		}
		div.entry_row { margin-bottom: 1em }
		table.listing td { vertical-align: top}
		table.listing td + td { 
			border-left: 2px solid #AAA;
			text-align: center;
			width: 20% 
		}
		table.listing tr.category_heading td[colspan] { 
			background-color: #FAEBD7;
			border-bottom: 2px solid #CCC;
			border-top: 2px solid #CCC;
			font-weight: bold;
			letter-spacing: 1.5px; 
			text-align: left;
			text-transform: uppercase
		}

		table.listing span.pass, table.listing span.fail { 
			background-position: center center;
			background-repeat: no-repeat;
			display: block;
			min-height: 30px;
			min-width: 30px;
		}
		table.listing span.pass span, table.listing span.fail span { visibility: hidden }
		span.pass { background-image: url( <%= image_path( "check_30x30.png" ) -%> ) }
		span.fail { background-image: url( <%= image_path( "caution_30x30.png" ) -%> ) }
	</style>
<%- end -%>
<%- content_for :left_column do -%>
	<h2>Audit Overview</h2>
	<div class="entry_row">
		<div class="entry_label">
			Audit Date
		</div>
		<div class="entry_value">
			<%= @audit[:created_at].strftime("%b %d, %Y") -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Auditor
		</div>
		<div class="entry_value">
			<%= @audit[:auditor_name] -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="entry_label">
			Score
		</div>
		<div class="entry_value">
			<%= @audit[:score] -%>
		</div>
	</div>
	<%- if @audit.comments -%>
	<div class="entry_row">
		<div class="entry_label">
			Comments
		</div>
		<div class="entry_value">
			<%=  @audit.comments -%>
		</div>
	</div>
	<%- end -%>
	<div class="entry_row">
		<div class="entry_label">
			Score Legend
		</div>
		<div class="entry_value">
			<dl>
				<dt>Score</dt>
				<dd>Something</dd
				<dt>23</dt>
				<dd>Twenty three</dd>
			</dl>
		</div>
	</div>
<%- end -%>
<% content_for :right_column do -%>
	

<table class="listing">
	<thead>
		<tr>
			<th scope="col">Description</th>
			<th scope="col">Score</th>
		</tr>
	</thead>
	<tbody>
<ul>
<%- 
	last_category = nil
	@audit_metrics.each do |audit_metric| 
		row_class = cycle('regular','alternate')
		if last_category != audit_metric[:category].strip
			last_category = audit_metric[:category].strip
-%>
			<tr class="category_heading">
				<td colspan="2"><%= last_category -%></td>
			</tr>
		<%- end -%>
		<tr class="<%=row_class -%>">
			<td><%= audit_metric[:title] -%>
				<blockquote><%= audit_metric[:description] -%></blockquote>
			</td>
			<td>
				<%-
					span_class="pass"
					span_class="fail" if audit_metric[:point_value] < 0 && audit_metric[:quantifier] < 0 		
			-%>
			<span class="<%= span_class -%>"><span><%= audit_metric[:point_value] -%></span></span>
			<%- if audit_metric[:resolved_at] -%>
			<br/>
			<%= audit_metric[:resolved_at].strftime("%b %d, %Y") -%>
			<%- end -%>
			</td>
		</tr>
<%- end -%>
	</tbody>
</table>
<% end -%>
<%= render :template => 'layouts/two_columns' -%>
