
<div class="row form-group">
	<%= link_to "Edit", edit_audit_path(audit), class: "btn btn-primary" -%>
	<button class="btn btn-default btn-wide" type="button" onclick="closeButton()">Close</button>
	<button class="btn btn-danger" type="button" onclick="deleteAudit()">Delete</button>
</div>
<div class="row well well-sm">
	<div class="col-md-6 col-sm-12 col-xs-12 container">
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Date</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12"><%= audit[:created_at].strftime('%m/%d/%Y') -%></div>
		</div>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Auditor</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12"><%= audit[:auditor_name] -%></div>
		</div>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Store</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<%= link_to audit.store.full_name, store_path(audit.store) -%>, 
				<%= audit.store.address -%>
			</div>
		</div>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Issues</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<%= (audit[:has_unresolved_issues] ? "There are unresolved issues" : "No unresolved issues") -%>
			</div>
		</div>
		<%- if !audit.store[:store_number].blank? -%>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Store Number</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12"><%= audit.store[:store_number] -%></div>		
		</div>
		<%- end -%>	
		<%- if audit.comments.present? -%>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Comments</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<%= audit.comments.first[:content] -%>
			</div>
		</div>
		<%- end -%>
		<%- if audit.images.present? -%>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Attached Picture</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
			<%- audit.images.each do |image| -%>
				<a href="<%= image[:content_url] -%>" class="fancybox-thumb" rel="fancybox-thumb">
					<img src="<%= image[:content_url] -%>" style="max-width: 200px; max-height: 100px" />
				</a>
			<% end -%>
			</div>
		</div>
		<%- end -%>
	</div>
	<div class="col-md-3 col-md-offset-3 col-sm-12 col-xs-12" style="padding: 0">
		<div class="panel panel-primary">
			<div class="panel-heading">Score</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item text-success"><label>Base</label><span class="pull-right"><%= audit[:base] -%></span></li>
					<li class="list-group-item text-danger"><label>Loss</label><span class="pull-right"><%= audit[:loss] -%></span></li>
					<li class="list-group-item text-info"><label>Bonus</label><span class="pull-right"><%= audit[:bonus] -%></span></li>
					<li class="list-group-item"><strong><label>Total</label><span class="pull-right"><%= audit.total_score -%></span></strong></li>
				</ul>					
			</div>
		</div>		
	</div>
</div>
<%- audit.audit_metrics.sort{ |a, b| a.metric[:display_order] <=> b.metric[:display_order]}.each do |audit_metric| -%>

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-10 col-sm-10 col-xs-10">
						<strong><%= audit_metric.metric[:title].html_safe -%></strong>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 text-right">
						<%= "<span class='label label-success'>#{audit_metric[:base]}</span>".html_safe unless audit_metric[:base].zero? -%> 
						<%= "<span class='label label-danger'>#{audit_metric[:loss].abs}</span>".html_safe unless audit_metric[:loss].zero? -%>
						<%= "<span class='label label-primary'>#{audit_metric[:bonus]}</span>".html_safe unless audit_metric[:bonus].zero? -%>
						<%- 
							if audit_metric.metric[:track_resolution] && !audit_metric[:loss].zero?
								html_class= (audit_metric[:resolved] ? "success" : "warning")
								icon = (audit_metric[:resolved] ? "check" : "exclamation-triangle")
								text = (audit_metric[:resolved] ? "Issue resolved" : "This issue has not been resolved")
						-%>
							<span class="label label-<%= html_class -%>"><i class="fa fa-<%= icon -%>" title="<%= text -%>"></i></span>
						<%- end -%>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<ul style="list-style: none">
				<%- audit_metric.audit_metric_responses.select{|i| i.metric_option.metric[:response_type] == 'custom_shelves' || i[:selected]}.sort{ |a, b| a.metric_option[:display_order] <=> a.metric_option[:display_order]}.each do |response| -%>
					<li class="col-md-4 col-sm-12 col-xs-12">
					<%-
						case audit_metric.metric[:response_type]
							when "text_compare"
					-%>
								<label style="display:inline-block;width: 6.5em"><%= response.metric_option[:label] -%></label>: 
								<%= response[:entry_value] -%>
					<%-		when /^(computed|textarea)$/ -%>
								<%= response[:entry_value] -%>
					<%- 	else -%>
								<%- if response.metric_option.metric[:response_type] != "radio" -%>
									<i class="fa <%= response[:selected] ? "fa-check-square-o": "fa-square-o" -%>"></i> 
								<%- end -%>

								<%= response.metric_option[:label] -%>
					<% end -%>
					</li>
				<%- end -%>

				</ul>
			</div>
		</div>
	</div>

<% end -%>

<%- content_for :head do -%>
	<%= stylesheet_link_tag "jquery.fancybox.css" -%>
	<%= stylesheet_link_tag "sweet-alert.css" -%>
<%- end -%>

<%- content_for :page_js do -%>
	<%= javascript_include_tag "jquery.fancybox.js" -%>
	<%= javascript_include_tag "sweet-alert.min.js" -%>
	<script type="text/javascript">
	var URL = {
		destroy_audit: '<%= audit_path(audit[:id], format: :json) -%>',
		return_path: '<%= session['return_path'].present? ? URI.decode(session['return_path']): nil -%>'
	};

	$(document).ready(function() {
		$(".fancybox-thumb").fancybox({
			prevEffect	: 'none',
			nextEffect	: 'none',
			helpers	: {
				title	: {
					type: 'outside'
				},
				thumbs	: {
					width	: 50,
					height	: 50
				}
			}
		});
	});

	function deleteAudit(){
		swal({
			title: "Are you sure?",
			text: "You will not be able to recover this audit",
			type: "warning",
			showCancelButton: true,
			confirmButtonText: "Yes",
			closeOnConfirm: true
		},
		function(){
			$.ajax({
				type: "DELETE",
				url: URL.destroy_audit,
				dataType: 'json',
				success: function(data){
					if(URL.return_path.length > 0 )
						window.location = URL.return_path;
				},
				error: function(xhr){
					alert("Could not delete");
				}
			});			
		});

	}
	</script>
<%- end -%>