
<div class="row form-group">
	<%= link_to "Edit Audit", edit_audit_path(audit), class: "btn btn-primary" -%>
	<%= link_to "Delete Audit", "#", class: "btn btn-danger" -%>
</div>
<div class="row well well-sm">
	<div class="col-md-6 col-sm-12 col-xs-12 container">
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Date</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12"><%= audit[:created_at].strftime('%m/%d/%Y') -%></div>
		</div>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Auditor</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12"><%= audit[:auditor_name] -%></div>
		</div>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Store</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<%= link_to audit.store.full_name, store_path(audit.store) -%>, 
				<%= audit.store.address -%>
			</div>
		</div>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Issues</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<%= (audit[:has_unresolved_issues] ? "There are unresolved issues" : "No unresolved issues") -%>
			</div>
		</div>
		<%- if !audit.store[:store_number].blank? -%>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-md-2 col-sm-12 col-xs-12"><label>Store Number</label></div>
			<div class="col-md-10 col-sm-12 col-xs-12"><%= audit.store[:store_number] -%></div>		
		</div>
		<%- end -%>	
		<%- if audit.comments.present? -%>
		<div class="row" style="margin-bottom: 0.7em">
			<div class="col-m-12 col-sm-12 col-xs-12"><label>Comments</label></div>
			<div class="col-m-12 col-sm-12 col-xs-12">
				<%= audit.comments.first[:content] -%>
			</div>
		</div>
		<%- end -%>
	</div>
	<div class="col-md-3 col-md-offset-3 col-sm-12 col-xs-12" style="padding: 0">
		<div class="panel panel-primary">
			<div class="panel-heading">Score</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item alert-success"><label>Base</label><span class="pull-right"><%= audit[:base] -%></span></li>
					<li class="list-group-item alert-danger"><label>Loss</label><span class="pull-right"><%= audit[:loss] -%></span></li>
					<li class="list-group-item alert-info"><label>Bonus</label><span class="pull-right"><%= audit[:bonus] -%></span></li>
					<li class="list-group-item"><strong><label>Total</label><span class="pull-right"><%= audit.total_score -%></span></strong></li>
				</ul>					
			</div>
		</div>		
	</div>
</div>
<%- audit.audit_metrics.sort{ |a, b| a.metric[:display_order] <=> b.metric[:display_order]}.each do |audit_metric| -%>

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-10 col-sm-10 col-xs-10">
						<strong><%= audit_metric.metric[:title].html_safe -%></strong>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 text-right">
						<%= "<span class='label label-success'>#{audit_metric[:base]}</span>".html_safe unless audit_metric[:base].zero? -%> 
						<%= "<span class='label label-danger'>#{audit_metric[:loss].abs}</span>".html_safe unless audit_metric[:loss].zero? -%>
						<%= "<span class='label label-primary'>#{audit_metric[:bonus]}</span>".html_safe unless audit_metric[:bonus].zero? -%>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<ul style="list-style: none">
				<%- audit_metric.audit_metric_responses.select{|i| i[:selected]}.sort{ |a, b| a.metric_option[:display_order] <=> a.metric_option[:display_order]}.each do |response| -%>
					<li>
					<%-
						case audit_metric.metric[:response_type]
							when "text_compare"
					-%>
								<label style="display:inline-block;width: 6.5em"><%= response.metric_option[:label] -%></label>: 
								<%= response[:entry_value] -%>
					<%-		when /^(computed|textarea)$/ -%>
								<%= response[:entry_value] -%>
					<%- 	else -%>
								<%= response.metric_option[:label] -%>
					<% end -%>
					</li>
				<%- end -%>

				</ul>
				<%- if !audit_metric[:loss].zero? -%>
					<%= (!audit_metric[:resolved] ? "<p style='margin: 0' class='alert alert-danger text-center'>Issue has not been resolved</p style='margin: 0'>" : "This issues has been resolved").html_safe -%>
				<% end -%>
			</div>
		</div>
	</div>

<% end -%>