<%= form_for company do |f| %>
<!-- Errors -->
<%- if company.errors.any? -%>
<div class="panel panel-sm panel-danger">
	<div class="panel-heading"><span class="h3">Attention</span></div>
	<div class="panel-body">
	<p>Unfortunately the store information could not be saved. Please review the highlighted <%= pluralize(company.errors.count, "entry") %> below and 
			try again. </p>
	</div>

</div>
<%- end -%>

<div class="well well-sm">
	<%= f.submit "Save", class: "btn btn-primary" -%>
	<%= link_to "Close", company_path(company), class: "btn btn-default" -%>
</div>
<%= render :partial => "entry", :locals => {f: f} -%>

<%- end -%>
