<% content_for :head do %>
	<%= stylesheet_link_tag :table %>
	<%= stylesheet_link_tag :forms -%>
	<style type="text/css" media="screen">
		table#company_listing {
			border-bottom:none;
			margin:auto;
			text-align: left;
			width: 100%;
		}
		table#company_listing th:last-child, table#company_listing td:last-child{ text-align:right}
		div#page_body{ text-align: center;}
		div#left_column{ display: none;}
		div#right_column{
			float:none;
			display:block;
			margin-left:0;
			width:auto;
		}
		input#q { width: 85% }
	</style>
<% end %>

<%= render :partial => 'stores/store_search', :locals => {:search_label => "Search for a store"} %>

<table id="company_listing" class="listing">
	<thead>
		<tr>
			<th>Company</th>
			<th>Stores</th>
		</tr>
	</thead>
	<tbody>
		<% companies.each do |company| %>
		<tr>
			<td><%= link_to company[:name], company_path( company, :format => :html ) %></td>
			<td class="cell-right-align"><%= link_to number_with_delimiter(company.stores.size), company_stores_path( company, :format=> :html ) %></td>
		</tr>
		<% end %>
	</tbody>
</table>