<div class="row" style="margin-bottom: 0.5em">
	<%= link_to "Edit", edit_company_path(company), class: "btn btn-primary"-%>
	<%= link_to "Close", session[:last_page], class: "btn btn-default" -%>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="h2">Basic Information</h2>
		</div>
		<div class="panel-body company-attributes">
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Chain</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%=company[:name]-%></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Stores</div>
				<div class="col-md-10 col-sm-12 col-xs-12">
					<%= link_to number_with_delimiter(company.stores.size), company_stores_path(company)%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Date Added</div>
				<div class="col-md-10 col-sm-12 col-xs-12"><%= company[:created_at].strftime("%b %d, %Y") unless company[:created_at].blank?%>&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12 col-xs-12 form-label">Last Updated</div>
				<div class="col-md-10 col-sm-12 col-xs-12">
					<%= company[:updated_at].strftime("%b %d, %Y") unless company[:updated_at].blank?%>&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :head do -%>
	<style type="text/css">
		@media screen and (min-width: 48em){
			div.form-label { 
				text-align: right;
			}

			div.flush-left{
				padding-left: 0;
				margin-left: 0;
			}			
			div.flush-right{
				padding-right: 0;
				margin-right: 0;
			}
		}
		
		address {
			margin: 0 auto;
		}
		div.company-attributes > div.row{
			margin: 0.7em auto;
		}

		.form-label {
			font-weight: bold;
		}

		.h2{
			padding: 0.5em auto;
			margin: 0 auto;
		}
	</style>

<% end -%>
