<html lang="en">
<head>
   <meta name="viewport" content="width=480,initial-scale=1,user-scalable=yes">
  <style type="text/css">
  	@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
    body, html {
      background-color: #ffffff;
      display: block;
      font-family: Lato, MuseoSans, Lucida Grande,Lucida Sans Unicode,Verdana;
	  font-size: 14pt;
      text-align: center;
      margin: 0;
      padding-top: 0;
      width: auto
    }
  </style>
</head>
<body>
<div style="width:80%; margin:0 auto; text-align: left">
	<table cellspacing="2" cellpadding="4" width="99%" style="border-color: #fff; text-align: left">
		<tr>
			<td colspan="2" style="color: #fff; background-color: #2c3e50; padding: 10px">
				<h1 style="line-height: 1">
					Graeter's Cloud Apps: Order Sheet
				</h1>
			</td>
		</td>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Order#</th>
			<td style="border-bottom: 1px solid #000000"><%= order[:id] -%></td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">PO</th>
			<td style="border-bottom: 1px solid #000000"><%= order[:invoice_number] -%>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Customer</th>
			<td style="border-bottom: 1px solid #000000"><%= order.store.full_name -%></td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Date</th>
			<td style="border-bottom: 1px solid #000000"><%= order[:created_at].strftime("%b %d, %Y") -%></td>
		</tr>
		<%- if defined?(optional_message) && !(optional_message.nil? || optional_message.blank?) -%>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Comments</th>
			<td style="border-bottom: 1px solid #000000">
				<%= optional_message -%>
			</td>
		</tr>
		<% end -%>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Links</th>
			<td style="border-bottom: 1px solid #000000">
				For up-to-date information about this order visit the following links: <br/>
				<a href="<%= order_url(order[:id] ) -%>" target="_blank">HTML</a> |
				<a href="<%= order_url(order[:id], :format => :xlsx ) -%>">Download </a>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
