<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <style type="text/css">
    body, html, table {
      background-color: #eee;
      display: block;
      font-family: Arial, Sans-serif;
		font-size: 11pt;
      text-align: center;
      margin: 0;
      padding-top: 0;
      width: auto
    }
  </style>
</head>
<body>
<table border="0" cellspacing="1" cellpadding="4" width="100%">
	<tr>
		<td bgcolor="#993333" colspan="2">
			<h1 style="color:#ffffff">Order Created for PO <%= order[:invoice_number] -%></h1>
		</td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC" width="20%"><strong>PO:</strong></td>
		<td bgcolor="#EEEEEE"><%= order[:invoice_number] -%></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><strong>Order Date:</strong></td>
		<td bgcolor="#EEEEEE"><%= order[:created_at] -%></td>
	<tr>
		<td bgcolor="#CCCCCC"><strong>Deliver By:</strong></td>
		<td bgcolor="#EEEEEE"><%= order[:delivery_date] -%></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC"><strong>Links</strong></td>
		<td bgcolor="#EEEEEE">
			<a href="<%= order_url(order[:id] ) -%>" target="_blank">HTML</a> |
			<a href="<%= order_url(order[:id], :format => :xlsx ) -%>">Download Excel Spreadsheet</a>
		</td>
	</tr>
	<%- if defined? optional_message -%>
	<tr>
		<td bgcolor="#ffffff" colspan="2">          
			<h2>Additional Message</h2>
            <p><%= optional_message -%></p> 
		</td>
	</tr>
    <%- end -%>
</table>
</body>
</html>
