<html lang="en">
<head>
   <meta name="viewport" content="width=480,initial-scale=1,user-scalable=yes">
  <style type="text/css">
  	@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
    body, html {
      background-color: #ffffff;
      display: block;
      font-family: Lato, MuseoSans, Lucida Grande,Lucida Sans Unicode,Verdana;
		font-size: 14pt;
      text-align: center;
      margin: 0;
      padding-top: 0;
      width: auto
    }
  </style>
</head>
<body>
<div style="width:80%; margin:0 auto; text-align: left">
	
	<table cellspacing="2" cellpadding="4" width="99%" style="border-color: #fff; text-align: left">
		<tr>
			<td colspan="2" style="color: #fff; background-color: #2c3e50; padding: 10px">
				<h1 style="line-height: 1">
					Graeter's Cloud Apps: Order Sheet
				</h1>
			</td>
		</td>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Order#</th>
			<td style="border-bottom: 1px solid #000000"><%= order[:id] -%></td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">PO</th>
			<td style="border-bottom: 1px solid #000000"><%= order[:invoice_number] -%>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Customer</th>
			<td style="border-bottom: 1px solid #000000"><%= order.store.full_name -%></td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Date</th>
			<td style="border-bottom: 1px solid #000000"><%= order[:created_at].strftime("%b %d, %Y") -%></td>
		</tr>
		<tr>
			<th scope="row" style="color: #000000; background-color: #CCCCCC; text-align: right; width: 20%; v-align: top">Links</th>
			<td style="border-bottom: 1px solid #000000">
				For up-to-date information about this order visit the following links: <br/>
				<a href="<%= order_url(order[:id] ) -%>" target="_blank">HTML</a> |
				<a href="<%= order_url(order[:id], :format => :xlsx ) -%>">Download </a>
			</td>
		</tr>
		<tr>
			<td colspan="2">

				<table style="border-collapse:collapse" cellpadding="4" width="99%">
					<thead>
						<tr>
							<th scope="col" style="background-color: #CCCCCC; width: 50%; text-align:left">Product</th>
							<th scope="col" style="background-color: #CCCCCC; width: 25%"><abbr title="Quantity">Qty</abbr></th>
							<th scope="col" style="background-color: #CCCCCC; width: 25%">Sleeve(s)</th>
						</tr>
					</thead>
					<%- order.organize_products_by_category.each do |product_category| -%>
						<tbody>
							<tr>
								<td colspan="3" style="background-color:#eeeeee; padding: 5px; text-transform:uppercase"><%= product_category[:name] -%></td>
							</tr>
						
							<%- product_category[:products].each do |product_order| -%>
							<tr>
								<td style="padding-left: 2em"><%= product_order.product[:name] -%></td>
								<td style="text-align: center"><%= product_order[:quantity].to_s + ' ' + product_order.volume_unit[:name] -%></td>
								<td style="text-align: center"><%= pluralize( product_order.sleeves, "sleeve" ) -%></td>
							</tr>
							<%- end -%>
						</tbody>
					<%- end -%>

				</table>

			</td>
		</tr>
	</table>
</div>
</body>
</html>
