<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <style type="text/css">
      body, html {
        background-color: #eee;
        display: block;
        font-family: Arial, Sans-serif;
        text-align: center;
        margin: 0;
        padding-top: 0;
        width: auto
      }
    </style>
  </head>    
  <body>
    <table border="0" cellspacing="1" cellpadding="4" style="background-color:#fff;margin: 0 auto; text-align: left;width: 80%">
      <tr>
        <td bgcolor="#990000" height="24px"><h1>Orders</h1></td>
      </tr>
      <tr>
        <td>
          <p>The following <%= pluralize( orders.size, "order" ) -%> are attached with this message.</p>
          <%- if defined? email_body -%>
            <p style="background-color: #eee; border: 2px solid #333; font-style: italics"><%= email_body -%></p>
          <%- end -%>

          <table border="1" cellspacing="1" cellpadding="3" width="100%" style="text-align:left">
            <tr>
              <td style="background-color:#333;color:#fff;text-align:center;width:30%"><strong>PO</strong></td>
              <td style="background-color:#333;color:#fff"><strong>Store</strong></td>
              <td style="background-color:#333;color:#fff;text-align:center;width:30%"><strong>Links</strong></td>
            </tr>
            <%- orders.each do |order| -%>
              <tr>
                <td align="center"><%= order[:invoice_number] -%></td>
                <td>
                  <%= order.store[:name] -%><br/>
                  <%= order.store.address -%>
                </td>
                <td align="center">
                  <%= link_to "HTML", order_url( order ) -%> | 
                  <%= link_to "MS Excel", order_url( order, :formats => :xlsx ) -%>
                </td>
              </tr>
            <%- end -%>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
