<%= form_for @product do |f| -%>
	<div id="entry_row">
		<div class="field">
			<%= f.label :name, "Name" -%>
		</div>
		<div class="value">
			<%= f.text_field :name -%>
		</div>	
	</div>
	<div class="entry_row">
		<div class="field">
			<%= f.label :code, "Code" -%>
		</div>
		<div class="value">
			<%= f.text_field :code, :max_length => 10 -%>
		</div>
	</div>
	<div class="entry_row">
		<div class="toggle">
			<%= f.check_box :active -%>
			<%= f.label :active, "Active" -%>
		</div>
	</div>
	<%= f.submit "Save" -%>
<%- end -%>
