<%-
	params_without_product_category = request.params.dup
	params_without_product_category.delete(:product_category)

	params_without_status = request.params.dup
	params_without_status.delete(:status)

-%>
<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12 well well-sm">
		<div style="margin-bottom: 2em">
			<%= link_to "New Product", new_product_path, class: "btn btn-standard btn-primary" -%>
		</div>

		<h2 class="h4">Products By Category</h2>
		<ul>
			<%- @product_categories.each do |product_category| -%>
				<li>
					<%= link_to_unless_current product_category[:name], products_path(params_without_product_category.merge({product_category: product_category[:id]})) -%>
				</li>
			<% end -%>
		</ul>
	</div>
	<div class="col-md-9 col-sm-12 col-xs-12">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th scope="col" style="width:10%" rowspan="2">Code</th>
					<th scope="col" style="width:40%" rowspan="2">Name</th>
					<th scope="col" style="width:20%" rowspan="2" class="text-center">
						<select name="status" onchange="window.location = $(this).val()" class="form-control input-sm">
							<option value="<%= products_path(params_without_status) -%>">Status: All</option>
							<option value="<%= products_path(params_without_status.merge({status: false})) -%>" <%= "selected" if request.params[:status].present? && request.params[:status] == "false" -%>>Discontinued</option>
							<option value="<%= products_path(params_without_status.merge({status: true})) -%>" <%= "selected" if request.params[:status].present? && request.params[:status] == "true" -%>>In Circulation</option>
						</select>
					</th>
					<th scope="colgroup" colspan="2" class="text-center visible-md visible-lg" style="border-color: #ffffff">Availability</th>
				</tr>
				<tr class="visible-md visible-lg">
					<th scope="col" class="text-center">From</th>
					<th scope="col" class="text-center">Till</th>
				</tr>
			</thead>
			<tbody class="_product_list">
				<%= render(partial: "list", collection: @products) || '<tr><td colspan="5" class="text-center"><em>No products found</em></td></tr>'.html_safe -%>
			</tbody>
		</table>
	</div>
</div>