<div class="form-buttons well well-sm">
	<%= link_to edit_product_path(product), class: "btn btn-standard btn-primary" do -%>
		<i class="fa fa-pencil visible-sm visible-xs"></i><span class="visible-md visible-lg">Edit</span>
	<% end -%>
	<%= link_to session[:last_page] || product_path, class: "btn btn-standard btn-default" do -%>
		<i class="fa fa-mail-reply visible-sm visible-xs"></i><span class="visible-md visible-lg">Close</span>
	<% end -%>
</div>
<div id="product_display" class="panel panel-default">
	<div class="panel-heading"><span class="h3">Product Information</span></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12 form-label">			
				Discontinued
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<%= product[:active] ? "No" : "Yes" -%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12 form-label">
				Name
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<%= product[:name] -%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12 form-label">
				Code
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12" style="text-transform: uppercase">
				<%= product[:code] -%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12 form-label">
				Product Category
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<%= product.product_category[:name] -%>
			</div>
		</div>
		<%- if !(product[:from].nil? && product[:till].nil?) -%>
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12 form-label">
				Availability
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<%= "From: #{product[:from].strftime('%m/%d/%y')} <br/>".html_safe unless product[:from].nil? || product[:from].blank? -%>
				<%= "Till: #{product[:till].strftime('%m/%d/%y')} <br/>".html_safe unless product[:till].nil? || product[:till].blank? -%>
				
			</div>
		</div>
		<% end -%>
	</div>
</div>

<%- content_for :head do -%>
<style type="text/css" media="screen">
	@media screen and (min-width: 48em){
		div#product_display div.row > div.form-label { 
			text-align: right;
		}
	}
	
	div.form-label { font-weight: bold}

	div#product_display{
		margin: 1em auto;
	}
	div#product_display > div.panel-body > div.row {
		margin-bottom: 1.5em;
	}
</style>
<% end -%>
