<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "Untitled" %></title>
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'/>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag "application"%>
  <%= csrf_meta_tags %>
  <style type="text/css" media="screen">
	p.error{background-image: url(<%= image_path("error_24x24.png")%>);}
	p.warning{background-image: url(<%= image_path("warning_24x24.png")%>);}
	p.notice{background-image: url(<%= image_path("success_24x24.png")%> );}	
	.information{background-image: url(<%= image_path("information_32x32.png")%>);}	
	ul.nav_items li.current {background-image:url(<%= image_path("current_16x16.png")%>);}
  </style>
  <%= yield :head %>
</head>
<body>
	<div id="wrapper">
		<div id="page_header" class="page_blocks">
			<h1><%= @page_title or "Untitled" %></h1>
		</div>
		<div id="page_body" class="page_blocks">
			<% if !flash[:notice].blank?%>
				<p class="notice"><%= flash[:notice]%></p>
			<% end %>
			<% if !flash[:warning].blank? %>
				<p class="warning"><%=flash[:warning]%></p>
			<% end %>
			<% if !flash[:error].blank? %>
				<p class="error"><%=flash[:error]%></p>
			<% end %>
			<%= yield :body %>
		</div>
	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">	
		$(document).ready(function(){			
			var min_height = Math.min( $("div#right_column").height(), $("div#left_column").height());
			$("div#right_column, div#left_column").css("min-height", min_height+"px");
		});
	</script>
	<%= yield :page_js %>
</body>
</html>
